<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="lead md-lg text-primary">{{destino}}</span>
      <a type="button" ng-click="consultaTercero.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Identificación</label>
      <div class="col-md-3">
         <input ng-model="consultaTercero.model.identificacion" ng-maxlength="80" ng-pattern="identificacion" ng-disabled="modoEdicion" class="form-control input-sm" />
      </div>
      <label class="col-md-2 control-label">Estado</label>
      <div class="col-md-3">
         <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==consultaTercero.model.estado" ng-disabled="modoEdicion" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Teléfono</label>
      <div class="col-md-3">
         <input ng-model="consultaTercero.model.telefono" ng-maxlength="80" ng-pattern="telefono" ng-disabled="modoEdicion" class="form-control input-sm" />
      </div>
      <label class="col-md-2 control-label">Email</label>
      <div class="col-md-3">
         <input ng-model="consultaTercero.model.correo" ng-maxlength="80" ng-pattern="correo" type="email" ng-disabled="modoEdicion" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Nombre</label>
      <div class="col-md-8">
         <input ng-model="consultaTercero.model.nombre" ng-maxlength="80" ng-pattern="nombre" ng-disabled="modoEdicion" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Dirección</label>
      <div class="col-md-8">
         <textarea ng-model="consultaTercero.model.direccion" ng-disabled="modoEdicion" class="form-control"></textarea>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Usuario Reg</label>
      <div class="col-md-3">
         <input ng-model="consultaTercero.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
      </div>
      <label class="col-md-2 control-label">Usuario Act</label>
      <div class="col-md-3">
         <input ng-model="consultaTercero.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Fecha Reg</label>
      <div class="col-md-3">
         <div class="input-group">
            <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="consultaTercero.fechaReg.value" is-open="consultaTercero.fechaReg.isOpen" datepicker-options="consultaTercero.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
            />
            <span class="input-group-btn">
               <button type="button" ng-click="consultaTercero.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
               </button>
            </span>
         </div>
      </div>
      <label class="col-md-2 control-label">Fecha Act</label>
      <div class="col-md-3">
         <div class="input-group">
            <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="consultaTercero.fechaAct.value" is-open="consultaTercero.fechaAct.isOpen" datepicker-options="consultaTercero.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
            />
            <span class="input-group-btn">
               <button type="button" ng-click="consultaTercero.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
               </button>
            </span>
         </div>
      </div>
   </div>
</div>
<div class="panel">
   <div class="panel-body">
      <form role="form" class="form-horizontal mb-lg">
         <div class="form-group m-sm">
            <fieldset class="mb-sm pb-sm">
               <span class="lead md-lg text-primary">Contactos</span>
            </fieldset>
         </div>
         <div class="row">
            <div class="mb-sm clearfix">
               <div class="input-group m0 col-xs-4 pull-left">
                  <span class="input-group-addon input-sm">
                     <em class="icon-magnifier"></em>
                  </span>
                  <input type="text" ng-model="filtroContactoTercero" class="form-control input-sm" />
               </div>
               <div class="col-xs-2">
                  <button type="button" tooltip="Agregar Contrato" ng-click="contactoTercero.add()" ng-show="modoActualizacion" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span>Agregar</span>
                  </button>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-sm-12">
               <div class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <th></th>
                           <th>NOMBRE</th>
                           <th>TELEFONO</th>
                           <th>CARGO</th>
                           <th>EMAIL</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="contacto in contactoTercero.data | filter: filtroContactoTercero | orderBy: 'nombre'">
                           <td class="wd-xxs">
                              <button ng-click="contactoTercero.edit(contacto)" ng-show="modoActualizacion" class="btn btn-xs btn-primary">
                                 <span class="fa fa-pencil-square-o"></span>
                              </button>
                           </td>
                           <td>{{contacto.nombre}}</td>
                           <td>{{contacto.telefono}}</td>
                           <td>{{contacto.cargo}}</td>
                           <td>{{contacto.email}}</td>
                           <td>
                              <em tooltip="Eliminar Contacto" tooltip-placement="bottom" ng-click="contactoTercero.delete(contacto)" ng-show="modoActualizacion" class="icon-trash mr text-danger"></em>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-show="modoActualizacion" ng-click="consultaTercero.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-show="modoActualizacion" ng-click="consultaTercero.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>