<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">CLIENTE
         <a type="button" ng-click="tercero.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
         <br/>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <tabset justified="true" class="bg-white p0">
      <tab>
         <tab-heading>Información</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Identificación</label>
                  <input ng-model="tercero.model.identificacion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Teléfono</label>
                  <input ng-model="tercero.model.telefono" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Estado</label>
                  <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==tercero.model.estado" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="tercero.model.email" ng-maxlength="300" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="tercero.model.movil" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo</label>
                  <select ng-model="tipos.current" ng-options="item.descripcion for item in tipos.data" ng-selected="tipos.current.value==tercero.model.tipo" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Sitio Web</label>
                  <input ng-model="tercero.model.sitioWeb" ng-maxlength="80" ng-pattern="identificacion" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fax</label>
                  <input ng-model="tercero.model.fax" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo Empresas</label>
                  <select ng-model="tipoEmpresas.current" ng-options="item.descripcion for item in tipoEmpresas.data" ng-selected="tipoEmpresas.current.value==tercero.model.tipoEmpresa" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Nombre</label>
                  <input ng-model="tercero.model.nombre" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Moneda</label>
                  <select ng-model="monedas.current" ng-options="item.descripcion for item in monedas.data" ng-selected="monedas.current.value==tercero.model.moneda" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Nombre Comercial</label>
                  <input ng-model="tercero.model.nombreComercial" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Clasificación</label>
                  <select ng-model="clasificaciones.current" ng-options="item.descripcion for item in clasificaciones.data" ng-selected="clasificaciones.current.value==tercero.model.clasificacion" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Dirección</label>
                  <textarea ng-model="tercero.model.direccion" class="form-control"></textarea>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Sexo</label>
                  <select ng-model="sexos.current" ng-options="item.descripcion for item in sexos.data" ng-selected="sexos.current.value==tercero.model.sexo" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Representante</label>
                  <input ng-model="tercero.model.representante" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Comisión</label>
                  <input ng-model="tercero.model.comision" ui-number-mask="2" ng-maxlength="5" class="form-control input-sm" />
               </div>
            </div>
         </fieldset>
      </tab>
      <tab ng-show="tercero.model.id!=0">
         <tab-heading>Contactos</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Nombre</label>
                  <input ng-model="contactoTercero.current.nombre" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Cargo</label>
                  <input ng-model="contactoTercero.current.cargo" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="contactoTercero.current.movil" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Teléfono</label>
                  <input ng-model="contactoTercero.current.telefono" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="contactoTercero.current.email" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fax</label>
                  <input ng-model="contactoTercero.current.fax" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Dirección</label>
                  <input ng-model="contactoTercero.current.direccion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Usuario</label>
                  <input ng-model="contactoTercero.current.usuario" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Observación</label>
                  <textarea ng-model="contactoTercero.current.observacion" class="form-control"></textarea>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Contraseña</label>
                  <input ng-model="contactoTercero.current.contrasenia" ng-maxlength="80" class="form-control input-sm" />
                  <label class="control-label">Contraseña Tmp</label>
                  <input ng-model="contactoTercero.current.contraseniaTmp" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-2">
                  <label class="control-label">Comisión</label>
                  <input type="checkbox" ng-model="contactoTercero.current.comision" ng-true-value="true" ng-false-value="false" />
               </div>
               <div class="col-md-2">
                  <label class="control-label">Cotización</label>
                  <input type="checkbox" ng-model="contactoTercero.current.cotizacion" ng-true-value="true" ng-false-value="false" />
               </div>
               <div class="col-md-2">
                  <label class="control-label">Activo</label>
                  <input type="checkbox" ng-model="contactoTercero.current.activo" ng-true-value="true" ng-false-value="false" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Guardar" ng-click="contactoTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="contactoTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="form-group col-sm-12">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Nombre</th>
                              <th>Teléfono</th>
                              <th>Cargo</th>
                              <th>Email</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="contacto in contactoTercero.data | filter: filtroContactoTercero | orderBy: 'nombre'">
                              <td class="wd-xxs">
                                 <button ng-click="contactoTercero.edit(contacto)" class="btn btn-xs btn-primary">
                                    <span class="fa fa-pencil-square-o"></span>
                                 </button>
                              </td>
                              <td>{{contacto.nombre}}</td>
                              <td>{{contacto.telefono}}</td>
                              <td>{{contacto.cargo}}</td>
                              <td>{{contacto.email}}</td>
                              <td>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="contactoTercero.delete(contacto)" class="icon-trash mr text-danger"></em>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab ng-show="tercero.model.tipoEmpresa=='8'">
         <tab-heading>Referidos</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Intermediario</label>
                  <input ng-model="referidoTercero.current.tercero" ng-maxlength="80" disabled="disabled" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Porcentaje</label>
                  <input type="text" ng-model="referidoTercero.current.porcentaje" ui-number-mask="2" min="0" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <button type="button" tooltip="Buscar" ng-click="referidoTercero.buscar()" class="btn btn-primary">
                     <span>Buscar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Agregar" ng-click="referidoTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="referidoTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="form-group col-sm-12">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Intermediario</th>
                              <th>Porcentaje</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="referido in referidoTercero.data | filter: filtroReferidoTercero | orderBy: 'Intermediario'">
                              <td class="wd-xxs">
                                 <button ng-click="referidoTercero.edit(referido)" class="btn btn-xs btn-primary">
                                    <span class="fa fa-pencil-square-o"></span>
                                 </button>
                              </td>
                              <td>{{referido.tercero}}</td>
                              <td>{{referido.porcentaje}}</td>
                              <td>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="referidoTercero.delete(referido)" class="icon-trash mr text-danger"></em>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab ng-show="tercero.model.tipoEmpresa=='8'">
         <tab-heading>Comisiones</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Aseguradora</label>
                  <select ng-model="aseguradora.current" ng-options="aseg.tercero for aseg in aseguradora.data | orderBy: 'tercero'" ng-change="aseguradora.set()" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Comision</label>
                  <input type="text" ng-model="comisionTercero.current.comision" ui-number-mask="2" min="0" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Agregar" ng-click="comisionTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="comisionTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix"></div>
            <div class="form-group col-sm-12">
               <div class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr></tr>
                        <th></th>
                        <th>Aseguradora</th>
                        <th>Comision</th>
                     </thead>
                     <tbody>
                        <tr ng-repeat="comision in comisionTercero.data | filter: filtroComisionTercero | orderBy: 'nombreAseguradora'">
                           <td class="wd-xxs">
                              <button ng-click="comisionTercero.edit(comision)" class="btn btn-xs btn-primary">
                                 <span class="fa fa-pencil-square-o"></span>
                              </button>
                           </td>
                           <td>{{comision.nombreAseguradora}}</td>
                           <td>{{comision.comision}}</td>
                           <td>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="comisionTercero.delete(comision)" class="icon-trash mr text-danger"></em>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab>
         <tab-heading>Datos Bancarios</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Banco</label>
                  <select ng-model="bancos.current" ng-options="item.descripcion for item in bancos.data" ng-selected="bancos.current.value==cuentaTercero.current.banco" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo Cuenta</label>
                  <select ng-model="tiposCuenta.current" ng-options="item.descripcion for item in tiposCuenta.data" ng-selected="tiposCuenta.current.value==cuentaTercero.current.tipoCuenta" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Número</label>
                  <input ng-model="cuentaTercero.current.numero" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Cédula</label>
                  <input ng-model="cuentaTercero.current.cedula" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Descripcion</label>
                  <input ng-model="cuentaTercero.current.descripcion" ng-maxlength="80" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Activa</label>
                  <input type="checkbox" ng-model="cuentaTercero.current.activo" ng-true-value="true" ng-false-value="false" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12 pull-right">
                  <button type="button" tooltip="Guardar" ng-click="cuentaTercero.save()" class="btn btn-primary">
                     <span>Guardar</span>
                  </button>
                  <button type="button" tooltip="Cancelar" ng-click="cuentaTercero.cancel()" class="btn btn-default">
                     <span>Cancelar</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="form-group col-sm-12">
                  <div class="table-responsive table-bordered">
                     <table class="table table-hover wd-wide">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Descripción</th>
                              <th>Cédula</th>
                              <th>Cuenta</th>
                              <th>Tipo</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="cuenta in cuentaTercero.data | filter: filtroReferidoTercero | orderBy: 'Descripcion'">
                              <td class="wd-xxs">
                                 <button ng-click="cuentaTercero.edit(cuenta)" class="btn btn-xs btn-primary">
                                    <span class="fa fa-pencil-square-o"></span>
                                 </button>
                              </td>
                              <td>{{cuenta.descripcion}}</td>
                              <td>{{cuenta.cedula}}</td>
                              <td>{{cuenta.numero}}</td>
                              <td>{{cuenta.tipoCuenta}}</td>
                              <td>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="cuentaTercero.delete(cuenta)" class="icon-trash mr text-danger"></em>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </fieldset>
      </tab>
   </tabset>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="tercero.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="tercero.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>