<h3>Recibos
   <small></small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="recibos.filter()" ng-model="recibos.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="recibos.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>CODIGO</th>
                     <th>CLIENTE</th>
                     <th>CIUDAD</th>
                     <th>EMPLEADO</th>
                     <th>FACTURA</th>
                     <th>FECHA</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="8" ng-show="recibos.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="8" ng-show="recibos.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in recibos.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.codigoInterno }}</td>
                     <td>{{ item.nombreCliente }}</td>
                     <td>{{ item.ciudad }}</td>
                     <td>{{ item.nombreEmpleado }}</td>
                     <td>{{ item.codigoInternoFact }}</td>
                     <td>{{ item.fecha | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Ver.." tooltip-placement="bottom" ng-click="recibos.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="recibos.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="recibos.paginations.totalItems" ng-model="recibos.paginations.currentPage" max-size="recibos.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="recibos.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="recibos.paginations.numPages" ng-change="recibos.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>