<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">RECIBO {{recibo.model.id!=0?recibo.model.id:""}}
         <a type="button" ng-click="recibo.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
         <br/>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <tabset justified="true" class="bg-white p0">
      <tab>
         <tab-heading>Información</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Identificación</label>
                  <!--input.form-control.input-sm(ng-model='recibo.model.nit', ng-maxlength='80')-->
                  <input ng-model="recibo.model.identificacion" ng-maxlength="80" ng-disabled="!crearCliente" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Razon Social</label>
                  <input ng-model="recibo.model.tercero" ng-maxlength="80" ng-disabled="!crearCliente" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Recibo No</label>
                  <input ng-model="recibo.model.nit" ng-maxlength="80" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-lg clearfix">
               <div class="col-md-4">
                  <label class="control-label"></label>
                  <button type="button" tooltip="Buscar" ng-click="recibo.buscarCliente()" class="btn btn-sm btn-primary">
                     <span>Buscar Cliente</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Ciudad</label>
                  <select ng-model="ciudades.current" ng-options="item.descripcion for item in ciudades.data" ng-selected="ciudades.current.value==recibo.model.ciudadId" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Fecha</label>
                  <input ng-model="recibo.model.fecha" ng-maxlength="10" type="date" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo Pago</label>
                  <select ng-model="tipoPagos.current" ng-options="item.descripcion for item in tipoPagos.data" ng-selected="tipoPagos.current.value==recibo.model.tipoPagoId" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Empleado</label>
                  <ui-select ng-model="recibos.current" theme="bootstrap">
                     <ui-select-match placeholder="Seleccione Empleado">{{$select.selected.nombreEmpleado}}</ui-select-match>
                     <ui-select-choices repeat="m in recibos.data | propsFilter: {recibo: $select.search, identificacion: $select.search} | orderBy: ['codigo']">
                        <div ng-bind-html="m.nombreEmpleado | highlight: $select.search"></div>
                        <small>{{m.codigo}}</small>
                     </ui-select-choices>
                  </ui-select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Valor</label>
                  <input ng-model="recibo.model.valor" ng-maxlength="20" type="numeric" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Factura No</label>
                  <input ng-model="recibo.model.factura" ng-maxlength="300" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12">
                  <label class="control-label">Por concepto de</label>
                  <textarea ng-model="recibo.model.concepto" class="form-control"></textarea>
               </div>
            </div>
         </fieldset>
      </tab>
   </tabset>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Imprimir" ng-click="recibo.imprimir()" ng-show="btnAnular" class="btn btn-sm btn-default">
      <span>IMPRIMIR</span>
   </button>
   <button type="button" tooltip="Anular" ng-click="recibo.anular()" ng-show="btnAnular" class="btn btn-danger">
      <span>ANULAR</span>
   </button>
   <button type="button" tooltip="Guardar" ng-click="recibo.save()" ng-show="btnModificar" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
</div>