h3 
  span.text-primary {{ report.description }}
  small {{ report.description }}
.row
  .panel
    .panel-body
      form.form-horizontal.mb-lg(role='form')
        .form-group.m-sm
            fieldset.mb-sm.pb-sm
              div.col-md-12.mb-sm.clearfix
                div(ng-repeat="filter in report.filters")            
                  label.col-md-2.control-label {{ filter.label }}
                  dynamic-input.col-md-4.mb-sm(filter="filter", ng-model="filter")
        .form-group.m-sm
            div.mb-sm.clearfix
              col-sm-6
                button.btn.btn-sm.btn-primary(type='button' ng-click='report.execute()')
                    span.hidden-xs EJECUTAR
                button.btn.btn-sm.btn-default(type='button' ng-click='report.downloadXLS()')
                    span.hidden-xs  DESCARGAR
                button.btn.btn-sm.btn-default(type='button' ng-click='report.showReport()', ng-show="report.model.urlTemplate != null")
                    span.hidden-xs  VISUALIZAR
              .col-sm-4.pull-right
                input.form-control.input-sm(ng-model="report.filterText", ng-change="report.filter()" placeholder="Búsqueda")
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th(ng-repeat="column in report.model.columns") {{ column.colTitle }}
          tbody
            tr(ng-repeat="item in report.data")
              td(ng-repeat="column in report.model.columns") {{ item[column.colTitle] }}
      .row
        .col-lg-12(ng-hide='report.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='report.paginations.totalItems',ng-model='report.paginations.currentPage',max-size='report.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='report.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='report.paginations.numPages', ng-change='report.changePage()', first-text="«", last-text="»")  