.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Operadora: {{agente.model.nombreOperadora}}
    label.col-md-4.control-label.text-primary Agente
    a.pull-right(type="button", ng-click="agente.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-1.control-label Nombre
      .col-md-9
        input.form-control.input-sm(ng-model='agente.model.nombre', ng-maxlength="80", ng-pattern="nombre")
    .mb-sm.clearfix
      label.col-md-1.control-label Dirección
      .col-md-4
        input.form-control.input-sm(ng-model='agente.model.direccion', ng-maxlength="80")
      label.col-md-1.control-label Estado
      .col-md-4
        select.form-control(ng-model='estados.current', ng-options='estado.nombre for estado in estados.data', ng-selected='estado==estados.current', ng-change="estados.setEstado()")
    .mb-sm.clearfix
      label.col-md-1.control-label Documento
      .col-md-4
        input.form-control.input-sm(ng-model='agente.model.documento', ng-maxlength="20", ng-pattern="documento")
      label.col-md-1.control-label Matrícula
      .col-md-4
        input.form-control.input-sm(ng-model='agente.model.matricula', ng-maxlength="25", ng-pattern="matricula")
    .mb-sm.clearfix
      label.col-md-1.control-label E-Mail
      .col-md-4
        input.form-control.input-sm(type="email", ng-model='agente.model.email', ng-pattern="mail")
      label.col-md-1.control-label Teléfono
      .col-md-4
        input.form-control.input-sm(ng-model='agente.model.telefono', ng-pattern="telefono")
    .mb-sm.clearfix
      label.col-md-1.control-label Tipo Autentic.
      .col-md-4
        select.form-control(ng-model='autenticacion.current', ng-options='aut.nombre for aut in autenticacion.data', ng-selected='aut==autenticacion.current', ng-change="autenticacion.setAut()")
    .mb-sm.clearfix
      label.col-md-1.control-label Usuario
      .col-md-4
        input.form-control.input-sm(ng-model='agente.model.usuario')
      label.col-md-2.control-label Fecha Ingreso
      .col-md-3
        .input-group
          input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="agente.fechaIngreso.value", is-open="agente.fechaIngreso.isOpen", datepicker-options="agente.fechaIngreso.dateOptions", readonly="false", show-button-bar="true")
          span.input-group-btn
            button.btn.btn-sm.btn-default(type='button', ng-click='agente.fechaIngreso.open($event)')
              i.fa.fa-calendar
    .mb-sm.clearfix
      label.col-md-2.control-label Fecha Reg.
      .col-md-3
        input.form-control.input-sm(ng-model="agente.model.fechaReg", type="date", date-parser="dd/MM/YYYY", readonly="true")
      label.col-md-2.control-label Usuario Reg.
      .col-md-3
        input.form-control.input-sm(ng-model='agente.model.usuarioReg', readonly=true)
    .mb-sm.clearfix
      label.col-md-2.control-label Fecha Ult Act.
      .col-md-3
        input.form-control.input-sm(ng-model="agente.model.fechaAct", type="date", date-parser="dd/MM/YYYY", readonly="true")
      label.col-md-2.control-label Usuario Act.
      .col-md-3
        input.form-control.input-sm(ng-model='agente.model.usuarioAct', readonly=true)
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="agente.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="agente.close()")
    span CANCELAR