.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary(ng-if="datosParams.edit==false") Agregar: {{menu.model.menuName}}
    label.col-md-7.control-label.text-primary(ng-if="datosParams.edit==true") Editar: {{menu.model.menuName}}
    a.pull-right(type="button", ng-click="menu.dismiss()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-2.control-label Label
      .col-md-7
        input.form-control.input-sm(ng-model='menu.model.label')
    .mb-sm.clearfix
      label.col-md-2.control-label Texto
      .col-md-7
        input.form-control.input-sm(ng-model='menu.model.text')
    .mb-sm.clearfix
      label.col-md-2.control-label Parametros
      .col-md-7
        input.form-control.input-sm(ng-model='menu.model.param', ng-maxlength="80")
    .mb-sm.clearfix
      label.col-md-2.control-label SRef
      .col-md-7
        input.form-control.input-sm(ng-model='menu.model.sref', ng-maxlength="40")
    .mb-sm.clearfix
      label.col-md-2.control-label index
      .col-md-7
        input.form-control.input-sm(ng-model='menu.model.index', ng-minlength="1")
    .mb-sm.clearfix
      label.col-md-2.control-label urlParam
      .col-md-7
        input.form-control.input-sm(ng-model='menu.model.urlParam')
    .mb-sm.clearfix
      label.col-md-2.control-label icono
      .col-md-7
        input.form-control.input-sm(ng-model='menu.model.icon')
.modal-footer
  button.btn.btn-primary(ng-show="datosParams.edit", type="button", tooltip="Guardar", ng-click="menu.edit()")
    span GUARDAR
  button.btn.btn-primary(ng-show="!datosParams.edit", type="button", tooltip="Agrega Menú", ng-click="menu.add()")
    span ACEPTAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="menu.dismiss()")
    span CANCELAR