h3 Listado de Agendas
  small          
.row
  .panel
    .panel-heading   
     .row
        .input-group.m0.col-xs-3.col-sm-3.pull-left                      
          select.form-control(ng-model='filtrotarea.current', ng-options='item.descripcion for item in filtrotarea.data', ng-change="tareas.getData()")
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
             button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.SEARCH' | translate }}", ng-click='tareas.getData()')
              span: em.icon-note
              span.hidden-xs Filtrar   
              
.row
  .panel
    .panel-heading   
     .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='tareas.filter()' ng-model='tareas.filterText' )
    .panel-body.p0              
      
    
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr  
              th ESTADO
              th ASUNTO                    
              th FECHA INICIO  
              th FECHA FIN
              th            
          tbody
            td.height-lg(colspan="8", ng-show="tareas.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="tareas.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
             tr(ng-repeat="item in tareas.data", ng-class="{true: 'active'}[item.check]")
                td   
                    span.label.label-success(ng-if="item.colorAlerta == 0") En Proceso
                    span.label.label-warning(ng-if="item.colorAlerta == 1") En Alerta
                    span.label.label-danger(ng-if="item.colorAlerta == 2") Vencido                      
                td {{ item.asunto }}
                td {{ item.fechainicio | date:'dd/M/yyyy hh:mm:ss' }}   
                td {{ item.fechafin | date:'dd/M/yyyy hh:mm:ss' }}
                td.wd-sm
                    .ph.m0.text-muted.visible-inline.pull-right
                        em.icon-pencil.mr(tooltip="...", tooltip-placement='bottom', ng-click='tareas.edit(item)')
             
    .row
      .col-lg-12(ng-hide='tareas.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='tareas.paginations.totalItems',ng-model='tareas.paginations.currentPage',max-size='tareas.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='tareas.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='tareas.paginations.numPages', ng-change='tareas.changePage()', first-text="«", last-text="»")