<div class="modal-header">
   <header>
      <label class="col-md-7 control-label text-primary">Ubicación</label>
      <a type="button" ng-click="registroUbicacionModal.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body">
   <div class="mb-sm clearfix">
      <div id="map" ui-map="myMapModal" ui-options="mapOptionsModal" class="gmap"></div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Tipo:</label>
      <div class="col-md-3">
         <select ng-model="tipos.current" ng-options="item.descripcion for item in tipos.data" ng-selected="tipos.current.value==registroUbicacionModal.model.tipo" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Comentario:</label>
      <div class="col-md-6">
         <textarea ng-model="registroUbicacionModal.model.comentario" class="form-control"></textarea>
      </div>
   </div>
   <div class="mb-sm clearfix"></div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="registroUbicacionModal.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="registroUbicacionModal.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>