<h3>Registro Ubicación
   <small>Registro diario de ubicaciones</small>
   <div class="text-center">
      <button ng-click="registroUbicacion.obtenerUbicacion()" class="btn btn-primary">Actualizar Ubicación</button>
   </div>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
         <div class="mb-sm clearfix">
            <label class="col-md-1 control-label">Contratos</label>
            <div class="col-md-5">
               <ui-select ng-model="procesoAsociado.current" theme="bootstrap" on-select="procesoAsociado.setProcesoAsociado()">
                  <ui-select-match placeholder="Seleccione">{{$select.selected.descripcion}}</ui-select-match>
                  <ui-select-choices repeat="m in procesoAsociado.data | propsFilter: {descripcion: $select.search, proceso: $select.search} | orderBy: ['descripcion','proceso']">
                     <div ng-bind-html="m.descripcion | highlight: $select.search"></div>
                     <small>{{m.proceso}}</small>
                  </ui-select-choices>
               </ui-select>
            </div>
            <label class="col-md-1 control-label">Participante:</label>
            <div class="col-md-5">
               <ui-select ng-model="responsableProceso.current" theme="bootstrap">
                  <ui-select-match placeholder="Seleccione">{{$select.selected.nombre}}</ui-select-match>
                  <ui-select-choices repeat="m in responsableProceso.data | propsFilter: {nombre: $select.search, cargo: $select.search} | orderBy: ['nombre', 'cargo']">
                     <div ng-bind-html="m.nombre | highlight: $select.search"></div>
                     <small>{{m.cargo}}</small>
                  </ui-select-choices>
               </ui-select>
            </div>
         </div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Fecha Inicial:</label>
            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" uib-datepicker-popup="yyyy/MM/dd " ng-model="registroUbicacion.fechaInicial.value" is-open="registroUbicacion.fechaInicial.isOpen" datepicker-options="registroUbicacion.fechaInicial.dateOptions" readonly="true" show-button-bar="false"
                  class="form-control input-sm" />
                  <span class="input-group-btn">
                     <button type="button" ng-click="registroUbicacion.fechaInicial.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                     </button>
                  </span>
               </div>
            </div>
            <label class="col-md-2 control-label">Fecha Final:</label>
            <div class="col-md-3">
               <div class="input-group">
                  <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="registroUbicacion.fechaFinal.value" is-open="registroUbicacion.fechaFinal.isOpen" datepicker-options="registroUbicacion.fechaFinal.dateOptions" readonly="true" show-button-bar="false"
                  class="form-control input-sm" />
                  <span class="input-group-btn">
                     <button type="button" ng-click="registroUbicacion.fechaFinal.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                     </button>
                  </span>
               </div>
            </div>
         </div>
         <div class="mb-sm-10 clearfix pb-sm">
            <div class="pull-right">
               <button type="button" ng-click="registroUbicacion.getData()" class="btn btn-sm pull-left btn-primary">
                  <span>CONSULTAR</span>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="registroUbicacion.filter()" ng-model="registroUbicacion.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="registroUbicacion.add()" ng-show="btnRegistroUbicacion" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th></th>
                     <th>CONTRATO</th>
                     <th>TIPO</th>
                     <th>PARTICIPANTE</th>
                     <th>FECHA</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="registroUbicacion.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="registroUbicacion.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in registroUbicacion.data " ng-class="{true: 'active'}[item.check]">
                     <td class="wd-xxm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Ver Registro" tooltip-placement="bottom" ng-click="registroUbicacion.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                     <td>{{ item.contrato }}</td>
                     <td>{{ item.nombreTipo }}</td>
                     <td>{{ item.funcionario }}</td>
                     <td>{{ item.fecha | date:'dd/M/yyyy hh:mm' }}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="registroUbicacion.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="registroUbicacion.paginations.totalItems" ng-model="registroUbicacion.paginations.currentPage" max-size="registroUbicacion.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="registroUbicacion.paginations.itemsPerPage"
            previous-text="‹" next-text="›" num-pages="registroUbicacion.paginations.numPages" ng-change="registroUbicacion.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>