.modal-header     
 header
    label.col-md-7.control-label.text-primary Ubicación
    a.pull-right(type="button", ng-click="registroUbicacionModal.close()")
      span.fa.fa-times.text-danger
    br
.modal-body           
  .mb-sm.clearfix
    .gmap( id='map' ,ui-map='myMapModal', ui-options='mapOptionsModal')    
        
  .mb-sm.clearfix    
    label.col-md-1.control-label Tipo:
    .col-md-3   
        select.form-control(ng-model="tipos.current", ng-options="item.descripcion for item in tipos.data", ng-selected="tipos.current.value==registroUbicacionModal.model.tipo")            
  .mb-sm.clearfix
     label.col-md-1.control-label Comentario:
     .col-md-6  
         textarea.form-control( ng-model="registroUbicacionModal.model.comentario")   
  .mb-sm.clearfix
  
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="registroUbicacionModal.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="registroUbicacionModal.close()")
    span CANCELAR