<h3>{{ "users.TITLE" | translate }}
   <row>
      <form>
         <input type="text" ng-model="currentUsers.code" />
         <input type="text" ng-model="currentUsers.name" />
         <input type="text" ng-model="currentUsers.lastName" />
      </form>
   </row>
   <row></row>
   <table class="table responsive">
      <thead>
         <tr>
            <th>{{ "users.label.CODE" | translate }}</th>
            <th>{{ "users.label.NAME" | translate }}</th>
            <th>{{ "users.label.LASTNAME" | translate }}</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="user in users" ng-click="setCurrentUser(user)">
            <td>{{ user.code }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
         </tr>
      </tbody>
   </table>
   <row>{{ users }}</row>
</h3>