<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label ng-if="datosParams.edit==false" class="col-md-7 control-label text-primary">Agregar: {{menu.model.menuName}}</label>
      <label ng-if="datosParams.edit==true" class="col-md-7 control-label text-primary">Editar: {{menu.model.menuName}}</label>
      <a type="button" ng-click="menu.dismiss()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Label</label>
      <div class="col-md-7">
         <input ng-model="menu.model.label" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Texto</label>
      <div class="col-md-7">
         <input ng-model="menu.model.text" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">Parametros</label>
      <div class="col-md-7">
         <input ng-model="menu.model.param" ng-maxlength="80" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">SRef</label>
      <div class="col-md-7">
         <input ng-model="menu.model.sref" ng-maxlength="40" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">index</label>
      <div class="col-md-7">
         <input ng-model="menu.model.index" ng-minlength="1" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">urlParam</label>
      <div class="col-md-7">
         <input ng-model="menu.model.urlParam" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-2 control-label">icono</label>
      <div class="col-md-7">
         <input ng-model="menu.model.icon" class="form-control input-sm" />
      </div>
   </div>
</div>
<div class="modal-footer">
   <button ng-show="datosParams.edit" type="button" tooltip="Guardar" ng-click="menu.edit()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button ng-show="!datosParams.edit" type="button" tooltip="Agrega Menú" ng-click="menu.add()" class="btn btn-primary">
      <span>ACEPTAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="menu.dismiss()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>