<h3>Pasajeros
   <small>Administración de Pasajeros</small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix">
            <div class="col-md-4">
               <label class="col-sd-4 control-label">NOMBRE:</label>
               <input ng-model="busquedaPasajero.model.codigo" ng-maxlength="80" class="form-control input-sm" />
            </div>
            <div class="col-md-4">
               <label class="col-sd-8 control-label">APELLIDO:</label>
               <input ng-model="busquedaPasajero.model.razonSocial" ng-maxlength="80" class="form-control input-sm" />
            </div>
            <div class="col-md-4">
               <label class="col-sd-4 control-label">IDENTIFICACION:</label>
               <input ng-model="busquedaPasajero.model.identificacion" ng-maxlength="80" class="form-control input-sm" />
            </div>
         </div>
      </div>
      <div class="mb-sm clearfix">
         <div class="col-md-4">
            <label class="col-sd-4 control-label">EMAIL:</label>
            <input ng-model="busquedaPasajero.model.email" ng-maxlength="80" class="form-control input-sm" />
         </div>
         <div class="col-md-4">
            <label class="col-sd-8 control-label">DIRECCION:</label>
            <input ng-model="busquedaPasajero.model.direccion" ng-maxlength="80" class="form-control input-sm" />
         </div>
         <div class="col-md-4">
            <label class="col-sd-8 control-label">TELEFONO:</label>
            <input ng-model="busquedaPasajero.model.telefono" ng-maxlength="80" class="form-control input-sm" />
         </div>
      </div>
      <div class="mb-sm clearfix">
         <div class="col-md-4">
            <label class="col-sd-8 control-label">MOVIL:</label>
            <input ng-model="busquedaPasajero.model.movil" ng-maxlength="80" class="form-control input-sm" />
         </div>
         <div class="col-md-2">
            <label class="col-sd-4 control-label">ESTADO:</label>
            <select ng-model="estadoPasajero.current" ng-options="item.descripcion for item in estadoPasajero.data" ng-change="pasajeros.getData()" class="form-control"></select>
         </div>
         <div class="col-md-4">
            <label class="col-sd-8 control-label">INTERMEDIARIO:</label>
            <input ng-model="busquedaPasajero.model.intermediario" ng-maxlength="80" class="form-control input-sm" />
         </div>
         <div class="col-md-2">
            <label class="col-sd-4 control-label"></label>
            <button type="button" tooltip="{{ 'app.SEARCH' | translate }}" ng-click="pasajeros.getData()" class="btn btn-sm btn-primary">
               <span>
                  <em class="icon-reload"></em>
               </span>
               <span class="hidden-xs">{{ 'app.SEARCH' | translate }}</span>
            </button>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="pasajeros.filter()" ng-model="pasajeros.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="pasajeros.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>NOMBRE</th>
                     <th>APELLIDO</th>
                     <th>IDENTIFICACION</th>
                     <th>EMAIL</th>
                     <th>TELEFONO</th>
                     <th>MOVIL</th>
                     <th>INTERMEDIARIO</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="7" ng-show="pasajeros.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="7" ng-show="pasajeros.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in pasajeros.data " ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.nombre }}</td>
                     <td>{{ item.apellido }}</td>
                     <td>{{ item.identificacion }}</td>
                     <td>{{ item.correo }}</td>
                     <td>{{ item.telefono }}</td>
                     <td>{{ item.movil }}</td>
                     <td>{{ item.intermediario }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_ACTIVO" class="label label-primary">Activo</span>
                        <span ng-if="item.estado == ESTADO_INACTIVO" class="label label-default">Inactivo</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="..." tooltip-placement="bottom" ng-click="pasajeros.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="pasajeros.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="pasajeros.paginations.totalItems" ng-model="pasajeros.paginations.currentPage" max-size="pasajeros.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="pasajeros.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="pasajeros.paginations.numPages" ng-change="pasajeros.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>