<html>

<body>
   <h3><a ng-click="consecutivo.back()" class="text-primary">Consecutivo</a>
      <small>Gestiona de los consecutivos</small>
   </h3>
   <div class="row">
      <div class="panel">
         <div class="panel-body">
            <form role="form" class="form-horizontal mb-lg">
               <div class="form-group m-sm">
                  <fieldset class="mb-sm pb-sm">
                     <div class="mb-lg clearfix">
                        <button type="button" tooltip="Guardar" ng-click="consecutivo.save()" class="btn btn-sm btn-primary">
                           <span>GUARDAR</span>
                        </button>
                        <button type="button" tooltip="Adjuntos" ng-click="consecutivo.uploadFile()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>ADJUNTOS</span>
                        </button>
                        <button type="button" tooltip="Agendas" ng-click="consecutivo.agenda()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>AGENDAS</span>
                        </button>
                        <button type="button" tooltip="Seguimiento" ng-click="consecutivo.seguimiento()" ng-show="btnAdjunto" class="btn btn-sm btn-default">
                           <span>...</span>
                        </button>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Consecutivo</label>
                        <div class="col-md-5">
                           <input ng-model="consecutivo.model.codigo" ng-maxlength="100" ng-pattern="codigo" ng-disabled="true" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Cliente</label>
                        <div class="col-md-6">
                           <ui-select ng-model="tercerosOp.current" theme="bootstrap" on-select="tercerosOp.setContactoTercero()">
                              <ui-select-match placeholder="Seleccione Cliente">{{$select.selected.tercero}}</ui-select-match>
                              <ui-select-choices repeat="m in tercerosOp.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']">
                                 <div ng-bind-html="m.tercero | highlight: $select.search"></div>
                                 <small>{{m.identificacion}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                        <div class="col-md-1">
                           <button type="button" tooltip="Agregar Cliente" ng-click="consecutivo.crearCliente()" class="btn btn-sm btn-primary">
                              <span>AGREGAR</span>
                           </button>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Contacto</label>
                        <div class="col-md-6">
                           <ui-select ng-model="contactosOp.current" theme="bootstrap" on-select="contactosOp.setContacto()">
                              <ui-select-match placeholder="Seleccione Contacto">{{$select.selected.nombre}}</ui-select-match>
                              <ui-select-choices repeat="m in contactosOp.data | propsFilter: {nombre: $select.search, identificacion: $select.search} | orderBy: ['nombre', 'cargo']">
                                 <div ng-bind-html="m.nombre | highlight: $select.search"></div>
                                 <small>Cargo:{{m.cargo}} | Email:{{m.email}} | Télefono:{{m.telefono}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Funcionario</label>
                        <div class="col-md-6">
                           <ui-select ng-model="funcionarios.current" theme="bootstrap">
                              <ui-select-match placeholder="Seleccione ">{{$select.selected.funcionario}}</ui-select-match>
                              <ui-select-choices repeat="m in funcionarios.data | propsFilter: {funcionario: $select.search, identificacion: $select.search} | orderBy: ['funcionario', 'identificacion']">
                                 <div ng-bind-html="m.funcionario | highlight: $select.search"></div>
                                 <small>{{m.identificacion}}</small>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Descripción</label>
                        <div class="col-md-6">
                           <textarea ng-model="consecutivo.model.descripcion" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-3">
                           <select ng-model="estados.current" ng-options="item.descripcion for item in estados.data" ng-selected="estados.current.value==consecutivo.model.estado" class="form-control"></select>
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Usuario Reg</label>
                        <div class="col-md-3">
                           <input ng-model="consecutivo.model.usuarioReg" ng-maxlength="80" ng-pattern="usuarioReg" disabled="disabled" class="form-control input-sm" />
                        </div>
                        <label class="col-md-2 control-label">Usuario Act</label>
                        <div class="col-md-3">
                           <input ng-model="consecutivo.model.usuarioAct" ng-maxlength="80" ng-pattern="usuarioAct" disabled="disabled" class="form-control input-sm" />
                        </div>
                     </div>
                     <div class="mb-sm clearfix">
                        <label class="col-md-2 control-label">Fecha Reg</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="consecutivo.fechaReg.value" is-open="consecutivo.fechaReg.isOpen" datepicker-options="consecutivo.fechaReg.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="consecutivo.fechaReg.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <label class="col-md-2 control-label">Fecha Act</label>
                        <div class="col-md-3">
                           <div class="input-group">
                              <input type="text" uib-datepicker-popup="yyyy/MM/dd" ng-model="consecutivo.fechaAct.value" is-open="consecutivo.fechaAct.isOpen" datepicker-options="consecutivo.fechaAct.dateOptions" readonly="true" show-button-bar="false" class="form-control input-sm"
                              />
                              <span class="input-group-btn">
                                 <button type="button" ng-click="consecutivo.fechaAct.open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"> </i>
                                 </button>
                              </span>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>