<h3>Consecutivo
   <small>Control de los consecutivo</small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Tipo:</label>
            <div class="col-md-5">
               <select ng-model="tipoConsecutivo.current" ng-options="item.nombre for item in tipoConsecutivo.data" ng-change="consecutivos.getData()" class="form-control"></select>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="consecutivos.filter()" ng-model="consecutivos.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="consecutivos.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.SELECT' | translate }}" ng-click="consecutivos.selectAll()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-primary icon-check"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.DELETE' | translate }}" ng-click="consecutivos.remove()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-danger icon-trash"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th></th>
                     <th>CONSECUTIVO</th>
                     <th>FECHA</th>
                     <th>CLIENTE</th>
                     <th>DESCRIPCION</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="consecutivos.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="consecutivos.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in consecutivos.data " ng-class="{true: 'active'}[item.check]">
                     <td class="wd-xxs">
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="item.check" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>{{ item.codigo }}</td>
                     <td>{{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.descripcion }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_PROCESO" class="label label-primary">Proceso</span>
                        <span ng-if="item.estado == ESTADO_ANULADO" class="label label-default">Anulado</span>
                        <span ng-if="item.estado == ESTADO_APROBADO" class="label label-warning">Aprobado</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar tercero" tooltip-placement="bottom" ng-click="consecutivos.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="consecutivos.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="consecutivos.paginations.totalItems" ng-model="consecutivos.paginations.currentPage" max-size="consecutivos.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="consecutivos.paginations.itemsPerPage"
            previous-text="‹" next-text="›" num-pages="consecutivos.paginations.numPages" ng-change="consecutivos.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>