html
  body
    h3
      a.text-primary(ng-click='contrato.back()') Contrato
      small Gestiona la información de los contratos
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='contrato.save()')
                    span GUARDAR                 
                  button.btn.btn-sm.btn-default(type='button',tooltip='Adjuntos' ng-click='contrato.uploadFile()',ng-show="divParticipanteContrato")
                    span ADJUNTOS                    
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='contrato.agenda()',ng-show="divParticipanteContrato")
                    span AGENDAS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimientos', ng-click='contrato.seguimiento()',ng-show="divParticipanteContrato")
                    span ...  
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Inicial
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaInicial.value", is-open="contrato.fechaInicial.isOpen", datepicker-options="contrato.fechaInicial.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaInicial.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Final
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaFinal.value", is-open="contrato.fechaFinal.isOpen", datepicker-options="contrato.fechaFinal.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaFinal.open($event)')
                          i.fa.fa-calendar 
                .mb-sm.clearfix
                  label.col-md-2.control-label Cliente
                  .col-md-6
                     ui-select(ng-model='tercerosCon.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Cliente') {{$select.selected.tercero}}
                      ui-select-choices(repeat="m in tercerosCon.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']")
                        div(ng-bind-html='m.tercero | highlight: $select.search')
                        small {{m.identificacion}}  
                .mb-sm.clearfix
                  label.col-md-2.control-label Tipo 
                  .col-md-3
                    select.form-control(ng-model='tipoContrato.current', ng-options="tipo.descripcion for tipo in tipoContrato.data | orderBy: 'descripcion'", ng-selected='tipo.Codigo==contrato.model.tipoContratoId', ng-change='tipoContrato.setTipo()')
                  label.col-md-2.control-label Objeto 
                  .col-md-3
                    select.form-control(ng-model='objetoContrato.current', ng-options="objeto.descripcion for objeto in objetoContrato.data | orderBy: 'descripcion'", ng-selected='objeto.Codigo==contrato.model.objetoId', ng-change='objetoContrato.setObjeto()')  
                .mb-sm.clearfix                
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==contrato.model.estado") 
                .mb-sm.clearfix
                 label.col-md-2.control-label Descripción
                 .col-md-6
                    textarea.form-control( ng-model="contrato.model.descripcion")  
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                
                .mb-sm.clearfix
                  label.col-md-2.control-label Longitud
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.longitude', ng-maxlength='80', ng-pattern='longitude')   
                  label.col-md-2.control-label Latitud
                  .col-md-3
                    input.form-control.input-sm(ng-model='contrato.model.latitude', ng-maxlength='80', ng-pattern='latitude')   
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaReg.value", is-open="contrato.fechaReg.isOpen", datepicker-options="contrato.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="contrato.fechaAct.value", is-open="contrato.fechaAct.isOpen", datepicker-options="contrato.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='contrato.fechaAct.open($event)')
                          i.fa.fa-calendar 
    .row(ng-show="divParticipanteContrato")
       .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm                            
                span.lead.md-lg.text-primary Participantes
            .row
              .input-group.m0.col-xs-4.pull-left
                  span.input-group-addon.input-sm
                    em.icon-magnifier
                  input.form-control.input-sm(type='text', ng-model='filtroparticipanteContrato' )
              .col-xs-2
                button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Participante", ng-click='participanteContrato.add()')
                  span: em.icon-plus
                  span Agregar
              .row
                  .form-group.col-sm-12
                    .table-responsive.table-bordered
                      table.table.table-hover.wd-wide
                        thead
                          tr
                           th
                           th NOMBRE                       
                           th CARGO

                         tbody
                           tr(ng-repeat="part in participanteContrato.data | filter: filtroparticipanteContrato | orderBy: 'nombre'")
                            td.wd-xxs
                              button.btn.btn-xs.btn-primary(ng-click="participanteContrato.edit(part)")
                                span.fa.fa-pencil-square-o
                            td {{part.funcionario}}
                            td {{part.cargo}}
                            td
                              em.icon-trash.mr.text-danger(tooltip='Eliminar Participante', tooltip-placement='bottom', ng-click='participanteContrato.delete(part)') 
