.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Participante Contrato
    a.pull-right(type="button", ng-click="participanteContrato.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-1.control-label Participante:
    .mb-sm.clearfix
      .col-md-12
         ui-select(ng-model='funcionarios.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione ') {{$select.selected.funcionario}}
                      ui-select-choices(repeat="m in funcionarios.data | propsFilter: {funcionario: $select.search, identificacion: $select.search} | orderBy: ['funcionario', 'identificacion']")
                        div(ng-bind-html='m.funcionario | highlight: $select.search')
                        small {{m.identificacion}}  
    .mb-sm.clearfix
      label.col-md-1.control-label Cargo:
    .mb-sm.clearfix
      .col-md-12
        select.form-control(ng-model='cargo.current', ng-options="carg.descripcion for carg in cargo.data | orderBy: 'descripcion'", ng-selected='carg.Codigo==participanteContrato.model.cargoId', ng-change='cargo.setCargo()')
    .mb-sm.clearfix
      label.col-md-1.control-label Usuario Reg:
    .mb-sm.clearfix
      .col-md-12
       input.form-control.input-sm(ng-model='participanteContrato.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
    .mb-sm.clearfix
      label.col-md-1.control-label Fecha Reg:
    .mb-sm.clearfix
      .col-md-12
        .input-group
            input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="participanteContrato.fechaReg.value", is-open="participanteContrato.fechaReg.isOpen", datepicker-options="participanteContrato.fechaReg.dateOptions", readonly="true", show-button-bar="false")
            span.input-group-btn
             button.btn.btn-sm.btn-default(type='button', ng-click='participanteContrato.fechaReg.open($event)')
              i.fa.fa-calendar     
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="participanteContrato.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="participanteContrato.close()")
    span CANCELAR