.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-5.control-label.text-primary Roles
    a.pull-right(type="button", ng-click="rol.dismiss()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-3.control-label Nombre:
    .mb-sm.clearfix
      .col-md-10
        input.form-control.input-sm(ng-model="rol.model.nombre")
    .mb-sm.clearfix
      label.col-md-3.control-label Estado: 
    .mb-sm.clearfix
      .col-md-10
        select.form-control(ng-model="estados.current", ng-options="item.value for item in estados.data")
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="rol.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="rol.dismiss()")
    span CANCELAR