<div class="ngdialog-message">
   <p class="text-center text-lg mb-xs">
      <em class="fa fa-exclamation-triangle text-warning"></em>
   </p>
   <p class="lead text-center">¿Realmente desea salir de la aplicación?</p>
   <p class="text-right">
      <button type="button" ng-click="confirm()" class="btn btn-primary mr">Confirmar</button>
      <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cancelar</button>
   </p>
</div>