<div class="ngdialog-message">
   <p class="text-center text-lg mb-xs">
      <em class="fa fa-exclamation-triangle text-warning"></em>
   </p>
   <p class="lead text-center">¡Debe seleccionar todos los filtros!</p>
   <p class="text-right">
      <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cerrar</button>
   </p>
</div>