html
  body
    h3
      a.text-primary(ng-click='factura.back()') Factura
      small Gestiona la información de la factura
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='factura.save()')
                    span GUARDAR                         
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Adjuntos', ng-click='factura.uploadFile()',ng-show="btnAdjunto")
                    span ADJUNTOS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='factura.agenda()',ng-show="btnAdjunto")
                    span AGENDAS                
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimiento', ng-click='factura.seguimiento()',ng-show="btnAdjunto")
                    span ...   
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Imprimir', ng-click='factura.imprimir()',ng-show="btnAdjunto")
                    span IMPRIMIR  
                .mb-sm.clearfix
                  label.col-md-2.control-label Consecutivo
                  .col-md-3
                    input.form-control.input-sm(ng-model='factura.model.consecutivo',ng-maxlength='80',ng-pattern='consecutivo',ng-disabled='true')                  
                .mb-sm.clearfix
                  label.col-md-2.control-label Cliente
                  .col-md-6
                     ui-select(ng-model='tercerosOp.current', theme='bootstrap',on-select='tercerosOp.setContactoTercero()')
                      ui-select-match(placeholder='Seleccione Cliente') {{$select.selected.tercero}}
                      ui-select-choices(repeat="m in tercerosOp.data | propsFilter: {tercero: $select.search, identificacion: $select.search} | orderBy: ['tercero', 'identificacion']")
                        div(ng-bind-html='m.tercero | highlight: $select.search')                        
                        small {{m.identificacion}}
                   .col-md-2                     
                    button.btn.btn-sm.btn-default(type='button',  tooltip='Ver', ng-click='factura.verCliente()',ng-        show="btnAdjunto")
                         span ...        
                .mb-sm.clearfix
                   label.col-md-2.control-label Contacto
                   .col-md-6
                     ui-select(ng-model='contactosOp.current', theme='bootstrap',on-select='contactosOp.setContacto()')
                      ui-select-match(placeholder='Seleccione Contacto') {{$select.selected.nombre}}
                      ui-select-choices(repeat="m in contactosOp.data | propsFilter: {nombre: $select.search, identificacion: $select.search} | orderBy: ['nombre', 'cargo']")
                        div(ng-bind-html='m.nombre | highlight: $select.search')                        
                        small  Cargo:{{m.cargo}} | Email:{{m.email}} | Télefono:{{m.telefono}}                         
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Emisión
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="factura.fechaEmision.value", is-open="factura.fechaEmision.isOpen", datepicker-options="factura.fechaEmision.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='factura.fechaEmision.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Vencimiento
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="factura.fechaVencimiento.value", is-open="factura.fechaVencimiento.isOpen", datepicker-options="factura.fechaVencimiento.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='factura.fechaVencimiento.open($event)')
                          i.fa.fa-calendar                 
                .mb-sm.clearfix
                  label.col-md-2.control-label Asunto
                  .col-md-6
                    input.form-control.input-sm(ng-model='factura.model.asunto', ng-maxlength='80', ng-pattern='asunto')   
                .mb-sm.clearfix
                 label.col-md-2.control-label Descripción
                 .col-md-6
                    textarea.form-control( ng-model="factura.model.descripcion")                    
                .mb-sm.clearfix                
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==factura.model.estado") 
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='factura.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='factura.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="factura.fechaReg.value", is-open="factura.fechaReg.isOpen", datepicker-options="factura.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='factura.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="factura.fechaAct.value", is-open="factura.fechaAct.isOpen", datepicker-options="factura.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='factura.fechaAct.open($event)')
                          i.fa.fa-calendar 
    .row(ng-show="divProductosfactura")
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                span.lead.md-lg.text-primary Productos
                .row
                  div.mb-sm.clearfix
                      .col-xs-6
                          ui-select(ng-model='productosOp.current', theme='bootstrap')
                           ui-select-match(placeholder='Seleccione Producto') {{$select.selected.nombre}}
                           ui-select-choices(repeat="m in productosOp.data | propsFilter: {nombre: $select.search, descripcion: $select.search} | orderBy: ['nombre', 'descripcion']")
                             div(ng-bind-html='m.nombre | highlight: $select.search')                        
                             small {{m.descripcion}}                         
                      .col-xs-2
                        button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Producto", ng-click='productofactura.add()')
                          span: em.icon-plus
                          span Agregar
                .row
                 .form-group.col-sm-12 
                 
                     .table-responsive.table-bordered
                          table.table.table-hover.wd-wide
                           thead
                            tr
                             td Producto
                             td Cantidad
                             td Precio  
                             td Iva  
                             td Total  
                             td Por Cobrar  
                             td Comentario   
                             td                              
                           tbody
                            tr( ng-repeat="producto in productofactura.data ")
                             td {{producto.producto}}
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.cantidad", ui-number-mask="2", min="0")
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.valor", ui-number-mask="2", min="0")
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.valorIva", ui-number-mask="2", min="0",disabled)
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.total", ui-number-mask="2", min="0",disabled)
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.totalPendiente", ui-number-mask="2", min="0")
                             td
                              input.form-control.input-sm(type="text", ng-model="producto.comentario")
                             td
                              em.fa.fa-floppy-o(tooltip='Guardar', tooltip-placement='bottom', ng-click='productofactura.update(producto)')
                              em.icon-trash.mr.text-danger(tooltip='Eliminar Producto', tooltip-placement='bottom', ng-click='productofactura.delete(producto)') 
