h3 Entregas
  small 
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='entregas.filter()' ng-model='entregas.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='entregas.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}     
    .panel-body.p0
    
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th ESTADO 
              th CODIGO  
              th CLIENTE  
              th AUTOR  
              th FECHA    
              th CIUDAD                   
              th JORNADA  
                      
          tbody
            td.height-lg(colspan="8", ng-show="entregas.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="entregas.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in entregas.data", ng-class="{true: 'active'}[item.check]")
              td   
               span.label.label-primary(ng-if="item.estado == PROCESO") En Proceso
               span.label.label-warning(ng-if="item.estado == CERRADA") Cerrado               
               
              td {{ item.consecutivo }}
              td {{ item.cliente }}     
              td {{ item.nombreAutor }}     
              td {{ item.fecha | date:'dd/M/yyyy' }}
              td {{ item.nombreCiudad }}   
              td {{ item.jornada }} 
              
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Ver..", tooltip-placement='bottom', ng-click='entregas.edit(item)')
                    
    .row
      .col-lg-12(ng-hide='entregas.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='entregas.paginations.totalItems',ng-model='entregas.paginations.currentPage',max-size='entregas.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='entregas.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='entregas.paginations.numPages', ng-change='entregas.changePage()', first-text="«", last-text="»")