.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead PASAJERO
    a.pull-right(type="button", ng-click="pasajero.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            .mb-sm.clearfix          
              .col-md-4
                label.control-label Identificación
                input.form-control.input-sm(ng-model='pasajero.model.identificacion',ng-maxlength='80')
              .col-md-4
                label.control-label Fecha Nacimiento
                 .input-group                         
                        input.form-control.input-sm(type="text", uib-datepicker-popup="MM/dd/yyyy ", ng-model="pasajero.fechaNacimiento.value", is-open="pasajero.fechaNacimiento.isOpen", datepicker-options="pasajero.fechaNacimiento.dateOptions", readonly="true",   show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='pasajero.fechaNacimiento.open($event)')
                          i.fa.fa-calendar
              .col-md-4
                label.control-label Teléfono
                input.form-control.input-sm(ng-model='pasajero.model.telefono', ng-maxlength='80') 
            .mb-sm.clearfix 
              .col-md-6
                label.control-label Nombre
                input.form-control.input-sm(ng-model='pasajero.model.nombre', ng-maxlength='80')
              .col-md-6
                label.control-label Apellido
                input.form-control.input-sm(ng-model='pasajero.model.apellido', ng-maxlength='80') 
            .mb-sm.clearfix     
              .col-md-4
                label.control-label Email
                input.form-control.input-sm(ng-model='pasajero.model.correo', ng-maxlength='300')           
              .col-md-4
                label.control-label Móvil
                input.form-control.input-sm(ng-model='pasajero.model.movil', ng-maxlength='80')     
              .col-md-4
                label.control-label Estado
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==pasajero.model.estado") 
            .mb-sm.clearfix      
              .col-md-12
                label.control-label Dirección
                textarea.form-control( ng-model="pasajero.model.direccion")             
      
     tab(ng-show="pasajero.model.id!=0")
       tab-heading Contactos
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Nombre
            input.form-control.input-sm(ng-model='contactoPasajero.current.nombre',ng-maxlength='80')
          .col-md-4
            label.control-label Cargo
            input.form-control.input-sm(ng-model='contactoPasajero.current.cargo', ng-maxlength='80') 
          .col-md-4
            label.control-label Móvil
            input.form-control.input-sm(ng-model='contactoPasajero.current.movil', ng-maxlength='80') 
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Teléfono
            input.form-control.input-sm(ng-model='contactoPasajero.current.telefono',ng-maxlength='80')
          .col-md-4
            label.control-label Email
            input.form-control.input-sm(ng-model='contactoPasajero.current.email', ng-maxlength='80') 
          .col-md-4
            label.control-label Fax
            input.form-control.input-sm(ng-model='contactoPasajero.current.fax', ng-maxlength='80') 
        .mb-sm.clearfix 
          .col-md-8
            label.control-label Dirección
            input.form-control.input-sm(ng-model='contactoPasajero.current.direccion', ng-maxlength='80')         
           .col-md-4
            label.control-label Activo
            input(type='checkbox', ng-model='contactoPasajero.current.activo', ng-true-value="true", ng-false-value="false")
        .mb-sm.clearfix      
          .col-md-8
            label.control-label Observación
            textarea.form-control( ng-model="contactoPasajero.current.observacion")  
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="contactoPasajero.save()")
                span Guardar
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="contactoPasajero.cancel()")
                span Cancelar   
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Nombre
                   th Teléfono
                   th Cargo
                   th Email                       
                 tbody
                   tr(ng-repeat="contacto in contactoPasajero.data | filter: filtroContactoTercero | orderBy: 'nombre'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="contactoPasajero.edit(contacto)")
                        span.fa.fa-pencil-square-o
                    td {{contacto.nombre}}
                    td {{contacto.telefono}}
                    td {{contacto.cargo}}
                    td {{contacto.email}}
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar Contacto', tooltip-placement='bottom', ng-click='contactoPasajero.delete(contacto)') 
            
    
        
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="pasajero.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="pasajero.close()")
    span CANCELAR