h3 Pasajeros
  small Administración de Pasajeros
  
.row.col-xs-11
  .panel
    .panel-body.p0      
       .mb-sm.clearfix         
        .col-md-4           
           label.col-sd-4.control-label NOMBRE:
           input.form-control.input-sm(ng-model='busquedaPasajero.model.codigo',ng-maxlength='80')        
        .col-md-4   
          label.col-sd-8.control-label APELLIDO:
          input.form-control.input-sm(ng-model='busquedaPasajero.model.razonSocial',ng-maxlength='80')
        .col-md-4   
          label.col-sd-4.control-label IDENTIFICACION:
          input.form-control.input-sm(ng-model='busquedaPasajero.model.identificacion',ng-maxlength='80')
      .mb-sm.clearfix  
        .col-md-4           
           label.col-sd-4.control-label EMAIL:
           input.form-control.input-sm(ng-model='busquedaPasajero.model.email',ng-maxlength='80')        
        .col-md-4   
          label.col-sd-8.control-label DIRECCION:
          input.form-control.input-sm(ng-model='busquedaPasajero.model.direccion',ng-maxlength='80')
        .col-md-4   
          label.col-sd-8.control-label TELEFONO:
          input.form-control.input-sm(ng-model='busquedaPasajero.model.telefono',ng-maxlength='80')
      .mb-sm.clearfix 
        .col-md-4   
          label.col-sd-8.control-label MOVIL:
          input.form-control.input-sm(ng-model='busquedaPasajero.model.movil',ng-maxlength='80')
        .col-md-2
          label.col-sd-4.control-label ESTADO:
          select.form-control(ng-model='estadoPasajero.current', ng-options='item.descripcion for item in estadoPasajero.data', ng-change="pasajeros.getData()")
        .col-md-4   
          label.col-sd-8.control-label INTERMEDIARIO:
          input.form-control.input-sm(ng-model='busquedaPasajero.model.intermediario',ng-maxlength='80')        
        .col-md-2
           label.col-sd-4.control-label 
           button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.SEARCH' | translate }}", ng-click='pasajeros.getData()')
              span: em.icon-reload
              span.hidden-xs {{ 'app.SEARCH' | translate }}
        
       
        
          
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='pasajeros.filter()' ng-model='pasajeros.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right            
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='pasajeros.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}           
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr             
              th NOMBRE
              th APELLIDO
              th IDENTIFICACION              
              th EMAIL
              th TELEFONO                
              th MOVIL  
              th INTERMEDIARIO  
              th ESTADO  
              th 
          tbody
            td.height-lg(colspan="7", ng-show="pasajeros.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="7", ng-show="pasajeros.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in pasajeros.data ", ng-class="{true: 'active'}[item.check]")
              
              td {{ item.nombre }}
              td {{ item.apellido }}
              td {{ item.identificacion }}              
              td {{ item.correo }}
              td {{ item.telefono }}                 
              td {{ item.movil }}   
              td {{ item.intermediario }}   
              td
               span.label.label-primary(ng-if="item.estado == ESTADO_ACTIVO") Activo
               span.label.label-default(ng-if="item.estado == ESTADO_INACTIVO") Inactivo               
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="...", tooltip-placement='bottom', ng-click='pasajeros.edit(item)')
    .row
      .col-lg-12(ng-hide='pasajeros.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='pasajeros.paginations.totalItems',ng-model='pasajeros.paginations.currentPage',max-size='pasajeros.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='pasajeros.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='pasajeros.paginations.numPages', ng-change='pasajeros.changePage()', first-text="«", last-text="»")
