h3 Funcionarios
  small Control de Funcionarios
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='funcionarios.filter()' ng-model='funcionarios.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='funcionarios.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.SELECT' | translate }}", ng-click='funcionarios.selectAll()')
              span: em.text-primary.icon-check
              span.hidden-xs {{ 'app.SELECT' | translate }}
            button.btn.btn-sm.btn-default(type='button', tooltip="{{ 'app.DELETE' | translate }}", ng-click='funcionarios.remove()')
              span: em.text-danger.icon-trash
              span.hidden-xs  {{ 'app.DELETE' | translate }}
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th
              th DOCUMENTO
              th NOMBRE 
              th EMAIL
              th ESTADO
              th 
          tbody
            td.height-lg(colspan="5", ng-show="funcionarios.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="5", ng-show="funcionarios.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in funcionarios.data | orderBy: 'nombre'", ng-class="{true: 'active'}[item.check]")
              td.wd-xxs
                .checkbox.c-checkbox.m0
                  label
                    input(type='checkbox',ng-model='item.check')
                    span.fa.fa-check
              td {{ item.documento }}
              td {{ item.nombre }}
              td {{ item.email }}
              td
               span.label.label-primary(ng-if="item.estado == ESTADO_ACTIVO") Activo
               span.label.label-default(ng-if="item.estado == ESTADO_INACTIVO") Inactivo
               span.label.label-warning(ng-if="item.estado == ESTADO_ELIMINADO") Eliminado
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar campo", tooltip-placement='bottom', ng-click='funcionarios.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar campo", tooltip-placement='bottom', ng-click='funcionarios.removeItem(item)')
    .row
      .col-lg-12(ng-hide='funcionarios.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='funcionarios.paginations.totalItems',ng-model='funcionarios.paginations.currentPage',max-size='funcionarios.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='funcionarios.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='funcionarios.paginations.numPages', ng-change='funcionarios.changePage()', first-text="«", last-text="»")