<h3>Funcionarios
   <small>Control de Funcionarios</small>
</h3>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="funcionarios.filter()" ng-model="funcionarios.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="funcionarios.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.SELECT' | translate }}" ng-click="funcionarios.selectAll()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-primary icon-check"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                  </button>
                  <button type="button" tooltip="{{ 'app.DELETE' | translate }}" ng-click="funcionarios.remove()" class="btn btn-sm btn-default">
                     <span>
                        <em class="text-danger icon-trash"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th></th>
                     <th>DOCUMENTO</th>
                     <th>NOMBRE</th>
                     <th>EMAIL</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="funcionarios.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="funcionarios.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in funcionarios.data | orderBy: 'nombre'" ng-class="{true: 'active'}[item.check]">
                     <td class="wd-xxs">
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="item.check" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td>{{ item.documento }}</td>
                     <td>{{ item.nombre }}</td>
                     <td>{{ item.email }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_ACTIVO" class="label label-primary">Activo</span>
                        <span ng-if="item.estado == ESTADO_INACTIVO" class="label label-default">Inactivo</span>
                        <span ng-if="item.estado == ESTADO_ELIMINADO" class="label label-warning">Eliminado</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar campo" tooltip-placement="bottom" ng-click="funcionarios.edit(item)" class="icon-pencil mr"></em>
                           <em tooltip="Eliminar campo" tooltip-placement="bottom" ng-click="funcionarios.removeItem(item)" class="icon-trash mr text-danger"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="funcionarios.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="funcionarios.paginations.totalItems" ng-model="funcionarios.paginations.currentPage" max-size="funcionarios.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="funcionarios.paginations.itemsPerPage"
            previous-text="‹" next-text="›" num-pages="funcionarios.paginations.numPages" ng-change="funcionarios.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>