.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead RECIBO {{recibo.model.id!=0?recibo.model.id:""}}
    a.pull-right(type="button", ng-click="recibo.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            
            .mb-sm.clearfix
                .col-md-4
                    label.control-label Identificación
                    //input.form-control.input-sm(ng-model='recibo.model.nit', ng-maxlength='80')
                    input.form-control.input-sm(ng-model='recibo.model.identificacion', ng-maxlength='80',ng-disabled="!crearCliente")
                .col-md-4
                    label.control-label Razon Social
                    input.form-control.input-sm(ng-model='recibo.model.tercero', ng-maxlength='80',ng-disabled="!crearCliente")
                .col-md-4
                    label.control-label Recibo No
                    input.form-control.input-sm(ng-model='recibo.model.nit', ng-maxlength='80')
             .mb-lg.clearfix
                .col-md-4
                  label.control-label 
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Buscar', ng-click='recibo.buscarCliente()')
                    span Buscar Cliente
            .mb-sm.clearfix  
                .col-md-4
                    label.control-label Ciudad
                    select.form-control(ng-model="ciudades.current", ng-options="item.descripcion for item in ciudades.data", ng-selected="ciudades.current.value==recibo.model.ciudadId") 
                .col-md-4
                    label.control-label Fecha
                    input.form-control.input-sm(ng-model='recibo.model.fecha',ng-maxlength='10',type='date')
                .col-md-4
                    label.control-label Tipo Pago                
                    select.form-control(ng-model="tipoPagos.current", ng-options="item.descripcion for item in tipoPagos.data", ng-selected="tipoPagos.current.value==recibo.model.tipoPagoId")
             .mb-sm.clearfix             
                .col-md-4
                    label.control-label Empleado
                    ui-select(ng-model='recibos.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Empleado') {{$select.selected.nombreEmpleado}}
                      ui-select-choices(repeat="m in recibos.data | propsFilter: {recibo: $select.search, identificacion: $select.search} | orderBy: ['codigo']")
                        div(ng-bind-html='m.nombreEmpleado | highlight: $select.search')                        
                        small {{m.codigo}} 
                .col-md-4
                    label.control-label Valor
                    input.form-control.input-sm(ng-model='recibo.model.valor', ng-maxlength='20',type='numeric')
                .col-md-4
                    label.control-label Factura No
                    input.form-control.input-sm(ng-model='recibo.model.factura', ng-maxlength='300') 
             .mb-sm.clearfix             
                .col-md-12
                     label.control-label Por concepto de
                     textarea.form-control( ng-model="recibo.model.concepto")                           
                       
                           


        
.modal-footer
  
                
  button.btn.btn-sm.btn-default(type='button',  tooltip='Imprimir', ng-click='recibo.imprimir()',ng-show="btnAnular")
    span IMPRIMIR   
  button.btn.btn-danger(type="button", tooltip="Anular", ng-click="recibo.anular()",ng-show="btnAnular")
    span ANULAR
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="recibo.save()",ng-show="btnModificar")
    span GUARDAR
