h3 Recibos
  small 
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='recibos.filter()' ng-model='recibos.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='recibos.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}     
    .panel-body.p0
    
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th CODIGO
              th CLIENTE  
              th CIUDAD
              th EMPLEADO
              th FACTURA
              th FECHA                   
                
          tbody
            td.height-lg(colspan="8", ng-show="recibos.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="recibos.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in recibos.data", ng-class="{true: 'active'}[item.check]")
              td {{ item.codigoInterno }}               
              td {{ item.nombreCliente }}
              td {{ item.ciudad }}   
              td {{ item.nombreEmpleado }}
              td {{ item.codigoInternoFact }}
              td {{ item.fecha | date:'dd/M/yyyy hh:mm:ss' }}          
                           
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Ver..", tooltip-placement='bottom', ng-click='recibos.edit(item)')
                    
    .row
      .col-lg-12(ng-hide='recibos.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='recibos.paginations.totalItems',ng-model='recibos.paginations.currentPage',max-size='recibos.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='recibos.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='recibos.paginations.numPages', ng-change='recibos.changePage()', first-text="«", last-text="»")