<h3>Mensajeria</h3>
<div ng-controller="MailboxController as mailbox" class="table-grid table-grid-desktop">
   <div class="col col-md">
      <div class="pr">
         <div ng-hide="$state.is('app.mailbox.compose')" class="clearfix mb">
            <button type="button" ng-click="mailbox.mailboxMenuCollapsed = !mailbox.mailboxMenuCollapsed" ng-init="mailbox.mailboxMenuCollapsed = true" class="btn btn-sm btn-default mb-toggle-button pull-right">
               <em class="fa fa-bars fa-fw fa-lg"></em>
            </button>
            <a ui-sref="app.mailbox.compose" class="btn btn-primary btn-sm mb-compose-button">
               <em class="fa fa-pencil"></em>
               <span>Nuevo</span>
            </a>
         </div>
         <!-- START mailbox list-->
         <div collapse="mailbox.mailboxMenuCollapsed" class="mb-boxes">
            <div class="panel panel-default">
               <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked">
                     <li class="p">
                        <small class="text-muted">CATEGORIAS</small>
                     </li>
                     <li ui-sref-active="active" ng-repeat="fold in mailbox.folders">
                        <a ui-sref="app.mailbox.folder({folder: fold.folder})" ng-click="mailbox.selectFolder()">
                           <span ng-if="fold.alert" class="label label-green pull-right">{{fold.alert}}</span>
                           <em ng-class="fold.icon" class="fa fa-fw fa-lg"></em>
                           <span>{{fold.name}}</span>
                        </a>
                     </li>
                     <!--li.psmall.text-muted Labels-->
                     <!--li.p-h(ng-repeat="labl in mailbox.labels")a.pv-sm(href='#') 
  span.circle(ng-class="'circle-' + labl.color")
  span {{labl.name}}
-->
                  </ul>
               </div>
            </div>
         </div>
         <!-- END mailbox list-->
      </div>
   </div>
   <div ui-view="" class="col"></div>
</div>