<h3>Catalogo</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Tipo de Catalogo:</label>
            <div class="col-md-5">
               <select ng-model="catalogos.currentTipo" ng-options="item.descripcion for item in catalogos.tipoCatalogo" ng-change="catalogos.getData()" class="form-control"></select>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-heading">
         <div class="mb-sm clearfix"><a ng-repeat="item in catalogos.subniveles" ng-click="catalogos.setTipo(item)" class="text-primary">{{item.tipo}} /</a>
         </div>
         <div class="mb-sm clearfix">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="catalogos.filter()" ng-model="catalogos.filterText" class="form-control input-sm" />
            </div>
            <div class="input-group m0 col-xs-6 col-sm-3 pull-right">
               <button type="button" ng-click="catalogos.add()" class="btn btn-sm btn-primary pull-right">
                  <span>
                     <em class="icon-plus"></em>
                  </span>
                  <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
               </button>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>DESCRIPCIÓN</th>
                     <th>CÓDIGO</th>
                     <th>ABREVIATURA</th>
                     <th>ESTADO</th>
                     <th>CANTIDAD</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="catalogos.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="catalogos.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in catalogos.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.descripcion }}</td>
                     <td>{{ item.codigo }}</td>
                     <td>{{ item.abreviatura }}</td>
                     <td>
                        <span ng-if="item.estado == &quot;A&quot;" class="label label-primary">Activo</span>
                        <span ng-if="item.estado == &quot;I&quot;" class="label label-default">Inactivo</span>
                     </td>
                     <td>{{ item.cantidad }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 visible-inline pull-right">
                           <em tooltip="Editar Catalogo" tooltip-placement="bottom" ng-click="catalogos.edit(item)" class="icon-pencil mr"></em>
                           <em tooltip="Eliminar Catalogo" tooltip-placement="bottom" ng-click="catalogos.removeItem(item)" class="icon-trash mr text-danger"></em>
                           <em ng-if="nextLevel" tooltip="Mostrar subnivel" tooltip-placement="bottom" ng-click="catalogos.nextCatalogo(item)" class="fa fa-angle-double-right mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<div class="row col-xs-11">
   <div class="col-lg-12">
      <pagination total-items="catalogos.paginations.totalItems" ng-model="catalogos.paginations.currentPage" max-size="catalogos.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="catalogos.paginations.itemsPerPage" previous-text="‹"
      next-text="›" num-pages="catalogos.paginations.numPages" ng-change="catalogos.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
   </div>
</div>