<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">POLIZAS</label>
      <a type="button" ng-click="polizas.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <div class="col-md-3">
         <label class="control-label">Aseguradora</label>
         <select ng-model="destinos.current" ng-options="item.descripcion for item in destinos.data" ng-selected="destinos.current.value==cotizacion.model.destino" class="form-control"></select>
      </div>
      <div class="col-md-3">
         <label class="control-label">Ordenar Pr</label>
         <select ng-model="tiposViaje.current" ng-options="item.descripcion for item in tiposViaje.data" ng-selected="tiposViaje.current.value==cotizacion.model.tipoViaje" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-3">
         <label class="control-label">Días - Viaje {{polizas.model.dias}}</label>
      </div>
      <div class="col-md-3">
         <label class="control-label">Pasajeros {{polizas.model.pasajeros}}</label>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="table-responsive table-bordered">
         <table class="table table-hover wd-wide">
            <thead>
               <tr>
                  <th></th>
                  <th>Aseguradora</th>
                  <th>Poliza</th>
                  <th>Cop</th>
                  <th>Usd</th>
               </tr>
            </thead>
            <tbody>
               <td colspan="5" ng-show="productos.loading" class="height-lg">
                  <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                  </p>
                  <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
               </td>
               <td colspan="5" ng-show="polizas.noData" class="height-lg">
                  <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
               </td>
               <tr ng-repeat="item in polizas.data | orderBy: 'precio'" ng-class="{true: 'active'}[item.check]">
                  <td class="wd-xxs">
                     <div class="checkbox c-checkbox m0">
                        <label>
                           <input type="checkbox" ng-model="item.check" onclick="addPoliza(this,item);" />
                           <span class="fa fa-check"></span>
                        </label>
                     </div>
                  </td>
                  <td>{{ item.aseguradora }}</td>
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.precio | number }}</td>
                  <td>{{ item.precioCop | number }}</td>
                  <td class="wd-sm">
                     <div class="ph m0 text-muted visible-inline pull-right"></div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="row">
      <div ng-hide="polizas.paginations.numPages == 1" class="col-lg-12">
         <pagination total-items="polizas.paginations.totalItems" ng-model="polizas.paginations.currentPage" max-size="polizas.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="polizas.paginations.itemsPerPage" previous-text="‹" next-text="›"
         num-pages="polizas.paginations.numPages" ng-change="polizas.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="polizas.save()" class="btn btn-primary">
      <span>CONFIRMAR</span>
   </button>
</div>