<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Pasajeros</label>
      <a type="button" ng-click="pasajeros.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <div class="col-md-3">
         <label class="control-label">Nombre</label>
         <input ng-model="pasajeros.model.nombre" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Apellido</label>
         <input ng-model="pasajeros.model.apellido" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Email</label>
         <input ng-model="pasajeros.model.email" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Identificación</label>
         <input ng-model="pasajeros.model.identificacion" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Dirección</label>
         <input ng-model="pasajeros.model.direccion" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Télefono</label>
         <input ng-model="pasajeros.model.telefono" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Celular</label>
         <input ng-model="pasajeros.model.celular" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Estado</label>
         <select ng-model="estadoPasajero.current" ng-options="item.descripcion for item in estadoPasajero.data" class="form-control"></select>
      </div>
      <div class="col-md-3">
         <label class="control-label">Intermediario</label>
         <input ng-model="pasajeros.model.intermediario" ng-maxlength="300" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-3">
         <button type="button" tooltip="Buscar" ng-click="pasajeros.getData()" class="btn btn-sm btn-primary">
            <span>Buscar</span>
         </button>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
         <span class="input-group-addon input-sm">
            <em class="icon-magnifier"></em>
         </span>
         <input type="text" ng-change="pasajeros.filter()" ng-model="polizas.filterText" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="table-responsive table-bordered">
         <table class="table table-hover wd-wide">
            <thead>
               <tr>
                  <th></th>
                  <th>Identificacion</th>
                  <th>Nombre/Apellido</th>
                  <th>Movil</th>
                  <th>Email</th>
               </tr>
            </thead>
            <tbody>
               <td colspan="5" ng-show="pasajeros.loading" class="height-lg">
                  <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                  </p>
                  <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
               </td>
               <td colspan="5" ng-show="pasajeros.noData" class="height-lg">
                  <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
               </td>
               <tr ng-repeat="item in pasajeros.data | orderBy: 'precio'" ng-class="{true: 'active'}[item.check]">
                  <td class="wd-xxs">
                     <button type="button" tooltip="Buscar" ng-click="pasajeros.setPasajero(item)" class="btn btn-sm btn-primary">
                        <span>Seleccionar</span>
                     </button>
                  </td>
                  <td>{{ item.identificacion }}</td>
                  <td>{{ item.nombre+' '+item.apellido }}</td>
                  <td>{{ item.movil }}</td>
                  <td>{{ item.correo }}</td>
                  <td class="wd-sm">
                     <div class="ph m0 text-muted visible-inline pull-right"></div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="row">
      <div ng-hide="pasajeros.paginations.numPages == 1" class="col-lg-12">
         <pagination total-items="pasajeros.paginations.totalItems" ng-model="pasajeros.paginations.currentPage" max-size="pasajeros.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="pasajeros.paginations.itemsPerPage" previous-text="‹"
         next-text="›" num-pages="pasajeros.paginations.numPages" ng-change="pasajeros.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
      </div>
   </div>
</div>