<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-7 control-label text-primary">Clientes</label>
      <a type="button" ng-click="clientes.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <div class="col-md-3">
         <label class="control-label">Razón Social</label>
         <input ng-model="clientes.model.razonSocial" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Identificación</label>
         <input ng-model="clientes.model.identificacion" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Email</label>
         <input ng-model="clientes.model.email" ng-maxlength="300" class="form-control input-sm" />
      </div>
      <div class="col-md-3">
         <label class="control-label">Teléfono</label>
         <input ng-model="clientes.model.telefono" ng-maxlength="300" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-3">
         <button type="button" tooltip="Buscar" ng-click="clientes.getData()" class="btn btn-sm btn-primary">
            <span>Buscar</span>
         </button>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
         <span class="input-group-addon input-sm">
            <em class="icon-magnifier"></em>
         </span>
         <input type="text" ng-change="clientes.filter()" ng-model="polizas.filterText" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <div class="table-responsive table-bordered">
         <table class="table table-hover wd-wide">
            <thead>
               <tr>
                  <th></th>
                  <th>Identificacion</th>
                  <th>Razón Social</th>
                  <th>Teléfono</th>
                  <th>Email</th>
               </tr>
            </thead>
            <tbody>
               <td colspan="5" ng-show="clientes.loading" class="height-lg">
                  <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                  </p>
                  <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
               </td>
               <td colspan="5" ng-show="clientes.noData" class="height-lg">
                  <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
               </td>
               <tr ng-repeat="item in clientes.data | orderBy: 'precio'" ng-class="{true: 'active'}[item.check]">
                  <td class="wd-xxs">
                     <button type="button" tooltip="Buscar" ng-click="clientes.setClient(item)" class="btn btn-sm btn-primary">
                        <span>Seleccionar</span>
                     </button>
                  </td>
                  <td>{{ item.identificacion }}</td>
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.telefono }}</td>
                  <td>{{ item.email }}</td>
                  <td class="wd-sm">
                     <div class="ph m0 text-muted visible-inline pull-right"></div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="row">
      <div ng-hide="clientes.paginations.numPages == 1" class="col-lg-12">
         <pagination total-items="clientes.paginations.totalItems" ng-model="clientes.paginations.currentPage" max-size="clientes.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="clientes.paginations.itemsPerPage" previous-text="‹"
         next-text="›" num-pages="clientes.paginations.numPages" ng-change="clientes.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
      </div>
   </div>
</div>