<h3>Cotizaciones
   <small></small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix">
            <div class="col-md-4">
               <label class="col-sd-4 control-label">Estado:</label>
               <select ng-model="estado.current" ng-options="item.descripcion for item in estado.data" ng-change="cotizaciones.getData()" class="form-control"></select>
            </div>
            <div class="col-md-4">
               <label class="col-sd-8 control-label">Fecha Inicial:</label>
               <input ng-model="busqueda.model.fechainicial" ng-maxlength="300" type="date" class="form-control input-sm" />
            </div>
            <div class="col-md-4">
               <label class="col-sd-4 control-label">Fecha Final:</label>
               <input ng-model="busqueda.model.fechafinal" ng-maxlength="300" type="date" class="form-control input-sm" />
            </div>
         </div>
      </div>
      <div class="mb-sm clearfix">
         <div class="col-md-2">
            <label class="col-sd-4 control-label"></label>
            <button type="button" tooltip="{{ 'app.SEARCH' | translate }}" ng-click="cotizaciones.getData()" class="btn btn-sm btn-primary">
               <span>
                  <em class="icon-reload"></em>
               </span>
               <span class="hidden-xs">{{ 'app.SEARCH' | translate }}</span>
            </button>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="cotizaciones.filter()" ng-model="cotizaciones.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="cotizaciones.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>ESTADO</th>
                     <th>AG</th>
                     <th>CODIGO</th>
                     <th>CLIENTE</th>
                     <th>FECHA</th>
                     <th>PRIORIDAD</th>
                     <th>PROPIETARIO</th>
                     <th>INTERMEDIARIO</th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="10" ng-show="cotizaciones.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="10" ng-show="cotizaciones.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in cotizaciones.data" ng-class="{true: 'active'}[item.check]">
                     <td>
                        <span ng-if="item.colorPrioridad == VERDE" class="label label-success">En Proceso</span>
                        <span ng-if="item.colorPrioridad == AMARILLO" class="label label-warning">En Alerta</span>
                        <span ng-if="item.colorPrioridad == ROJO" class="label label-danger">Vencido</span>
                     </td>
                     <td>{{ item.cantidadAgendas }}</td>
                     <td>{{ item.consecutivo }}</td>
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.nombrePrioridad }}-({{item.consecutivo}})</td>
                     <td>{{ item.propietario }}</td>
                     <td>{{ item.nombreIntermediario }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Ver.." tooltip-placement="bottom" ng-click="cotizaciones.edit(item)" class="icon-pencil mr"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="cotizaciones.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="cotizaciones.paginations.totalItems" ng-model="cotizaciones.paginations.currentPage" max-size="cotizaciones.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="cotizaciones.paginations.itemsPerPage"
            previous-text="‹" next-text="›" num-pages="cotizaciones.paginations.numPages" ng-change="cotizaciones.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>