<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">COTIZACION {{cotizacion.model.id!=0?cotizacion.model.id:""}}
         <a type="button" ng-click="cotizacion.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
         <br/>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <tabset justified="true" class="bg-white p0">
      <tab>
         <tab-heading>Información</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Identificación</label>
                  <input ng-model="cotizacion.model.identificacion" ng-maxlength="80" ng-disabled="!crearCliente" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Razon Social</label>
                  <input ng-model="cotizacion.model.tercero" ng-maxlength="80" ng-disabled="!crearCliente" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Móvil</label>
                  <input ng-model="cotizacion.model.movil" ng-maxlength="80" ng-disabled="!crearCliente" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-8">
                  <label class="control-label">Dirección</label>
                  <input ng-model="cotizacion.model.direccion" ng-maxlength="80" ng-disabled="!crearCliente" class="form-control input-sm" />
               </div>
               <div class="col-md-4">
                  <label class="control-label">Email</label>
                  <input ng-model="cotizacion.model.email" ng-maxlength="300" ng-disabled="!crearCliente" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-lg clearfix">
               <button type="button" tooltip="Buscar" ng-click="cotizacion.buscarCliente()" class="btn btn-sm btn-primary">
                  <span>Buscar</span>
               </button>
               <button type="button" tooltip="Agregar/Editar Cliente" ng-click="cotizacion.agregarCliente()" class="btn btn-sm btn-default">
                  <span>+</span>
               </button>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12">
                  <label class="control-label">Observaciones</label>
                  <textarea ng-model="cotizacion.model.observaciones" class="form-control"></textarea>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Intermediario</label>
                  <ui-select ng-model="intermediarios.current" theme="bootstrap">
                     <ui-select-match placeholder="Seleccione Intermediario">{{$select.selected.intermediario}}</ui-select-match>
                     <ui-select-choices repeat="m in intermediarios.data | propsFilter: {intermediario: $select.search, identificacion: $select.search} | orderBy: ['intermediario', 'identificacion']">
                        <div ng-bind-html="m.intermediario | highlight: $select.search"></div>
                        <small>{{m.identificacion}}</small>
                     </ui-select-choices>
                  </ui-select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Tipo Cliente</label>
                  <select ng-model="tipoCliente.current" ng-options="item.descripcion for item in tipoCliente.data" ng-selected="tipoCliente.current.value==cotizacion.model.tipoCliente" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Vía-Contacto</label>
                  <select ng-model="viasContacto.current" ng-options="item.descripcion for item in viasContacto.data" ng-selected="viasContacto.current.value==cotizacion.model.viaContactoId" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Porcentaje Interés</label>
                  <select ng-model="interes.current" ng-options="item.descripcion for item in interes.data" ng-selected="interes.current.value==cotizacion.model.interes" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Grupo</label>
                  <select ng-model="grupos.current" ng-options="item.descripcion for item in grupos.data" ng-selected="grupos.current.value==cotizacion.model.grupoId" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Prioridad</label>
                  <select ng-model="prioridades.current" ng-options="item.descripcion for item in prioridades.data" ng-selected="prioridades.current.value==cotizacion.model.prioridadId" class="form-control"></select>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12">
                  <label class="control-label">Universidad</label>
                  <ui-select ng-model="universidades.current" theme="bootstrap">
                     <ui-select-match placeholder="Seleccione Universidad">{{$select.selected.universidad}}</ui-select-match>
                     <ui-select-choices repeat="m in universidades.data | propsFilter: {universidad: $select.search, identificacion: $select.search} | orderBy: ['universidad', 'ciudad']">
                        <div ng-bind-html="m.universidad | highlight: $select.search"></div>
                        <small>{{m.ciudad}}</small>
                     </ui-select-choices>
                  </ui-select>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab>
         <tab-heading>Polizas</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix"></div>
            <div class="mb-sm clearfix">
               <div class="col-md-3">
                  <label class="control-label">Origen</label>
                  <select ng-model="origenes.current" ng-options="item.descripcion for item in origenes.data" ng-selected="origenes.current.value==cotizacion.model.origen" class="form-control"></select>
               </div>
               <div class="col-md-3">
                  <label class="control-label">Tipo Viaje</label>
                  <select ng-model="tiposViaje.current" ng-options="item.descripcion for item in tiposViaje.data" ng-selected="tiposViaje.current.value==cotizacion.model.tipoViaje" class="form-control"></select>
               </div>
               <div class="col-md-3">
                  <label class="control-label">Fecha Inicial</label>
                  <input ng-model="cotizacion.model.fechaInicio" ng-maxlength="300" type="date" class="form-control input-sm" />
               </div>
               <div class="col-md-3">
                  <label class="control-label">Fecha Final</label>
                  <input ng-model="cotizacion.model.fechaFin" ng-maxlength="300" type="date" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-3">
                  <label class="control-label">Destino</label>
                  <select ng-model="destinos.current" ng-options="item.descripcion for item in destinos.data" ng-selected="destinos.current.value==cotizacion.model.destino" class="form-control"></select>
               </div>
               <div class="col-md-1">
                  <label class="control-label">Edades</label>
                  <input ng-model="cotizacion.model.e1" ng-maxlength="2" class="form-control input-sm" />
               </div>
               <div class="col-md-1">
                  <label class="control-label"></label>
                  <input ng-model="cotizacion.model.e2" ng-maxlength="2" class="form-control input-sm" />
               </div>
               <div class="col-md-1">
                  <label class="control-label"></label>
                  <input ng-model="cotizacion.model.e3" ng-maxlength="2" class="form-control input-sm" />
               </div>
               <div class="col-md-1">
                  <label class="control-label"></label>
                  <input ng-model="cotizacion.model.e4" ng-maxlength="2" class="form-control input-sm" />
               </div>
               <div class="col-md-1">
                  <label class="control-label"></label>
                  <input ng-model="cotizacion.model.e5" ng-maxlength="2" class="form-control input-sm" />
               </div>
               <div class="col-md-1">
                  <label class="control-label"></label>
                  <input ng-model="cotizacion.model.e6" ng-maxlength="2" class="form-control input-sm" />
               </div>
               <div class="col-md-1">
                  <label class="control-label"></label>
                  <input ng-model="cotizacion.model.e7" ng-maxlength="2" class="form-control input-sm" />
               </div>
               <div class="col-md-1">
                  <label class="control-label"></label>
                  <input ng-model="cotizacion.model.e8" ng-maxlength="2" class="form-control input-sm" />
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div class="col-md-12">
                  <button type="button" tooltip="Buscar" ng-click="cotizacion.buscarPolizas()" class="btn btn-sm btn-primary">
                     <span>Buscar {{cotizacion.model.polizas.length}}</span>
                  </button>
               </div>
            </div>
            <div class="mb-sm clearfix">
               <div style="overflow-y: scroll; height:200px;" class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <td>Poliza</td>
                           <td>Cantidad</td>
                           <td>% Descuento</td>
                           <td>Cop</td>
                           <td>Total</td>
                           <td>Usd</td>
                           <td>Comentario</td>
                           <td></td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="p in cotizacion.model.polizas ">
                           <td>{{p.nombre}}</td>
                           <td>{{p.cantidadPasajeros}}</td>
                           <td>
                              <input type="text" ng-model="p.descuento" ng-change="cotizacion.calcularDescuento(p)" ui-number-mask="2" min="0" class="form-control input-sm" />
                           </td>
                           <td>{{p.precioCop | number}}</td>
                           <td>{{p.precio | number}}</td>
                           <td>{{p.precioOriginal | number}}</td>
                           <td>
                              <input type="text" ng-model="p.comentario" class="form-control input-sm" />
                           </td>
                           <td>
                              <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="cotizacion.deletePoliza(p)" class="icon-trash mr text-danger"></em>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </fieldset>
      </tab>
      <tab>
         <tab-heading>Condiciones</tab-heading>
         <fieldset class="mb-sm pb-sm">
            <div class="mb-sm clearfix">
               <div class="col-md-4">
                  <label class="control-label">Moneda</label>
                  <select ng-model="monedas.current" ng-options="item.descripcion for item in monedas.data" ng-selected="moneda.current.value==cotizacion.model.monedaId" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Forma Pago</label>
                  <select ng-model="formasPago.current" ng-options="item.descripcion for item in formasPago.data" ng-selected="formasPago.current.value==cotizacion.model.formaPagoId" class="form-control"></select>
               </div>
               <div class="col-md-4">
                  <label class="control-label">Vencimiento</label>
                  <input ng-model="cotizacion.model.fechaVencimiento" ng-maxlength="300" type="datetime-local" class="form-control input-sm" />
               </div>
            </div>
         </fieldset>
      </tab>
   </tabset>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Adjuntos" ng-click="cotizacion.uploadFile()" ng-show="false" class="btn btn-sm btn-default">
      <span>ADJUNTOS</span>
   </button>
   <button type="button" tooltip="Agendas" ng-click="cotizacion.agenda()" ng-show="btnAnular" class="btn btn-sm btn-default">
      <span>AGENDAS</span>
   </button>
   <button type="button" tooltip="Seguimiento" ng-click="cotizacion.seguimiento()" ng-show="false" class="btn btn-sm btn-default">
      <span>...</span>
   </button>
   <button type="button" tooltip="Seguimiento" ng-click="cotizacion.verSeguimientoHistorico()" ng-show="false" class="btn btn-sm btn-warning">
      <span>H</span>
   </button>
   <button type="button" tooltip="Generar Pedido" ng-click="cotizacion.generarPedido()" ng-show="btnAnular" class="btn btn-warning">
      <span>PEDIDO</span>
   </button>
   <button type="button" tooltip="Anular" ng-click="cotizacion.anular()" ng-show="btnAnular" class="btn btn-danger">
      <span>ANULAR</span>
   </button>
   <button type="button" tooltip="Guardar" ng-click="cotizacion.enviarCotizacion()" ng-show="btnEnviarCotizacion" class="btn btn-primary">
      <span>ENVIAR</span>
   </button>
   <button type="button" tooltip="Guardar" ng-click="cotizacion.save()" ng-show="btnModificar" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
</div>