h3 Oportunidades
  small 
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='oportunidades.filter()' ng-model='oportunidades.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='oportunidades.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}     
    .panel-body.p0
    
     .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th ESTADO 
              th AG
              th CODIGO  
              th CLIENTE    
              th FECHA  
              th PRIORIDAD  
              th PROPIETARIO               
          tbody
            td.height-lg(colspan="8", ng-show="oportunidades.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="5", ng-show="oportunidades.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in oportunidades.data", ng-class="{true: 'active'}[item.check]")
              td   
               span.label.label-success(ng-if="item.colorPrioridad == VERDE") En Proceso
               span.label.label-warning(ng-if="item.colorPrioridad == AMARILLO") En Alerta
               span.label.label-danger(ng-if="item.colorPrioridad == ROJO") Vencido
              td {{ item.cantidadAgendas }} 
              td {{ item.consecutivo }}
              td {{ item.tercero }}      
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.nombrePrioridad }}   
                           
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Ver..", tooltip-placement='bottom', ng-click='oportunidades.edit(item)')
                    
    .row
      .col-lg-12(ng-hide='oportunidades.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='oportunidades.paginations.totalItems',ng-model='oportunidades.paginations.currentPage',max-size='oportunidades.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='oportunidades.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='oportunidades.paginations.numPages', ng-change='oportunidades.changePage()', first-text="«", last-text="»")