.modal-header.p-sm.pl-lg.pr-lg
  header
    span.text-light.lead SEGUIMIENTOS
      a.pull-right(type="button", ng-click="seguimiento.close()")
        span.fa.fa-times.text-danger
.modal-body.clearfix
    .row
      .col-md-12
        form(name='formSeguimiento')
          .form-group.m-sm            
            div.mb-sm.clearfix
                span.col-md-2 Comentario
                .col-md-10
                  textarea.form-control.form-sm(ng-model='seguimiento.model.descripcion', required)
            div.mb-sm.clearfix
              button.btn.btn-primary(ng-disabled="!formSeguimiento.$valid", ng-click='seguimiento.save()') Ok
    .row
      .col-md-12
        .table-responsive.table-bordered
          table.table.table-hover.wd-wide
            thead
              tr
                th FECHA                
                th COMENTARIO
                th USUARIO
                th
                th(ng-hide="hideDelete")
            tbody
              td.height-sm(colspan="7", ng-show="seguimiento.loading")
                p.text-center
                  i.fa.fa-spinner.fa-spin.fa-2x.text-muted
                p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
              td.height-sm(colspan="7", ng-show="seguimiento.noData")
                p.text-center.lead.text-primary No se encontraron seguimientos
              tr(ng-repeat="item in seguimiento.data", ng-class="{true: 'active'}[item.check]")
                td {{ item.fechaReg | date:'dd-M-yyyy H:mm'}}              
                td {{ item.descripcion }}
                td {{ item.usuarioReg }}
                td.wd-xxs
                  button.btn.btn-xs.btn-primary(ng-click="seguimiento.visualizar(item.id)")
                    span.fa.fa-eye
                td.wd-xxs(ng-hide="hideDelete")
                  button.btn.btn-xs.btn-danger(ng-click="seguimiento.eliminar(item.id)")
                    span.fa.fa-trash-o
    .row
      .col-lg-12(ng-hide='seguimiento.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='seguimiento.paginations.totalItems',ng-model='seguimiento.paginations.currentPage',max-size='seguimiento.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='seguimiento.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='seguimiento.paginations.numPages', ng-change='seguimiento.changePage()', first-text="«", last-text="»")