.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead PEDIDO {{pedido.model.id!=0?pedido.model.id:""}}
    a.pull-right(type="button", ng-click="pedido.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            .mb-sm.clearfix  
                .col-md-4
                    label.control-label Identificación
                    input.form-control.input-sm(ng-model='pedido.model.identificacion', ng-maxlength='80',ng-disabled="!crearCliente")                    
                .col-md-4
                    label.control-label Razon Social
                    input.form-control.input-sm(ng-model='pedido.model.tercero', ng-maxlength='80',ng-disabled="!crearCliente")
                .col-md-4
                    label.control-label Móvil
                    input.form-control.input-sm(ng-model='pedido.model.movil', ng-maxlength='80',ng-disabled="!crearCliente")               
                                      
             .mb-sm.clearfix             
                .col-md-8
                    label.control-label Dirección
                    input.form-control.input-sm(ng-model='pedido.model.direccion', ng-maxlength='80',ng-disabled="!crearCliente") 
                .col-md-4
                    label.control-label Email
                    input.form-control.input-sm(ng-model='pedido.model.email', ng-maxlength='300',ng-disabled="!crearCliente")     
                    
             .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Buscar', ng-click='pedido.buscarCliente()')
                    span Buscar
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agregar/Editar Cliente', ng-click='pedido.agregarCliente()')
                    span ....  
             .mb-sm.clearfix             
                .col-md-12
                     label.control-label Observaciones
                     textarea.form-control( ng-model="pedido.model.observaciones")                           
             .mb-sm.clearfix             
                .col-md-4
                    label.control-label Intermediario
                    ui-select(ng-model='intermediarios.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Intermediario') {{$select.selected.intermediario}}
                      ui-select-choices(repeat="m in intermediarios.data | propsFilter: {intermediario: $select.search, identificacion: $select.search} | orderBy: ['intermediario', 'identificacion']")
                        div(ng-bind-html='m.intermediario | highlight: $select.search')                        
                        small {{m.identificacion}} 
                .col-md-4
                    label.control-label Universidad
                    ui-select(ng-model='universidades.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Universidad') {{$select.selected.universidad}}
                      ui-select-choices(repeat="m in universidades.data | propsFilter: {universidad: $select.search, identificacion: $select.search} | orderBy: ['universidad', 'ciudad']")
                        div(ng-bind-html='m.universidad | highlight: $select.search')                        
                        small {{m.ciudad}} 
                .col-md-4
                    label.control-label Entrega                
                    select.form-control(ng-model="entregas.current", ng-options="item.descripcion for item in entregas.data", ng-selected="entregas.current.value==pedido.model.entregaId")             
             .mb-sm.clearfix             
                .col-md-4
                    label.control-label Vía-Contacto                
                    select.form-control(ng-model="viasContacto.current", ng-options="item.descripcion for item in viasContacto.data", ng-selected="viasContacto.current.value==pedido.model.viaContactoId") 
                .col-md-4
                    label.control-label Grupo              
                    select.form-control(ng-model="grupos.current", ng-options="item.descripcion for item in grupos.data", ng-selected="grupos.current.value==pedido.model.grupoId")          
                 .col-md-4
                    label.control-label Prioridad                
                    select.form-control(ng-model="prioridades.current", ng-options="item.descripcion for item in prioridades.data", ng-selected="prioridades.current.value==pedido.model.prioridadId")   
     tab
       tab-heading Polizas
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix  
            .mb-sm.clearfix 
                    .col-md-3
                        label.control-label Origen
                        select.form-control(ng-model="origenes.current", ng-options="item.descripcion for item in origenes.data", ng-selected="origenes.current.value==pedido.model.origen") 
                    .col-md-3
                        label.control-label Tipo Viaje
                        select.form-control(ng-model="tiposViaje.current", ng-options="item.descripcion for item in tiposViaje.data", ng-selected="tiposViaje.current.value==pedido.model.tipoViaje") 
                    .col-md-3
                        label.control-label Fecha Inicial
                        input.form-control.input-sm(ng-model='pedido.model.fechaInicio', ng-maxlength='300',type='date')   
                    .col-md-3
                        label.control-label Fecha Final
                        input.form-control.input-sm(ng-model='pedido.model.fechaFin', ng-maxlength='300',type='date')   
            .mb-sm.clearfix  
                    .col-md-3
                        label.control-label Destino
                        select.form-control(ng-model="destinos.current", ng-options="item.descripcion for item in destinos.data", ng-selected="destinos.current.value==pedido.model.destino") 
                    .col-md-1
                        label.control-label Edades
                        input.form-control.input-sm(ng-model='pedido.model.e1', ng-maxlength='2')                        
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='pedido.model.e2', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='pedido.model.e3', ng-maxlength='2')
                    .col-md-1   
                        label.control-label 
                        input.form-control.input-sm(ng-model='pedido.model.e4', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='pedido.model.e5', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='pedido.model.e6', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='pedido.model.e7', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='pedido.model.e8', ng-maxlength='2')
            .mb-sm.clearfix  
                    .col-md-12
                        button.btn.btn-sm.btn-primary(type='button',  tooltip='Buscar', ng-click='pedido.buscarPolizas()')
                         span Buscar   {{pedido.model.polizas.length}}                   
            .mb-sm.clearfix            
                
                .table-responsive.table-bordered(style='overflow-y: scroll; height:200px;')
                          table.table.table-hover.wd-wide
                           thead
                            tr
                             td Poliza
                             td Cantidad
                             td Cop
                             td Usd                             
                             td Comentario   
                             td                              
                           tbody
                            tr( ng-repeat="p in pedido.model.polizas ")
                             td {{p.nombre}} 
                             td {{p.cantidadPasajeros}}  
                             td {{p.precioCop | number}}                             
                             td {{p.precio | number }}                             
                             td
                              input.form-control.input-sm(type="text", ng-model="p.comentario")
                             td                              
                              em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='pedido.deletePoliza(p)')
     tab
        tab-heading Pasajeros
        fieldset.mb-sm.pb-sm

        .mb-sm.clearfix  
            .row
                .col-md-6
                    div.mb-sm.clearfix
                     label.control-label Polizas
                     select.form-control( ng-options="item.nombre for item in pedido.model.polizas", ng-model="polizaSeleccionada",ng-change='pedido.selectPoliza(polizaSeleccionada)') 
                    div.mb-sm.clearfix
                     button.btn.btn-sm-6.btn-primary(type='button',  tooltip='Buscar pasajero', ng-click='pedido.buscarPasajero()')
                        span Buscar       
                     button.btn.btn-sm-6.btn-warning(type='button',  tooltip='Agregar pasajero', ng-click='pedido.agregarPasajero()')
                        span Agregar    
                .col-md-6
                    form(name='formAdjuntarArchivo')
                    .form-group.m-sm
                        div.mb-sm.clearfix
                            span.col-md-2 Archivo
                            .col-md-10
                            input.form-control.form-sm(type='file', ngf-select='', ng-model='pedido.file', name='file', required)                     
                        div.mb-sm.clearfix
                            button.btn.btn-primary(ng-disabled="!formAdjuntarArchivo.$valid", ng-click='pedido.uploader(pedido.file)') Cargar Pasajeros                                   
                        
        .mb-sm.clearfix          
            .table-responsive.table-bordered(style='overflow-y: scroll; height:200px;')
                              table.table.table-hover.wd-wide
                               thead
                                tr
                                 td                                 
                                 td Nombre/Apellido
                                 td Identificación
                                 td Fecha Nacimiento
                                 td Ciudad Destino  
                                 td Poliza
                                 td
                               tbody
                                tr( ng-repeat="p in pedido.pasajeros ")                                 
                                 td.wd-xxs                                  
                                  button.btn.btn-xs.btn-primary(ng-click="pedido.abrirPasajero(p)")
                                    span.fa.fa-pencil-square-o
                                 td {{p.nombre+' '+p.apellido}} 
                                 td {{p.identificacion}}
                                 td {{p.fechaNacimiento |  date:'MM/dd/yyyy':'gmt'}}                                 
                                 td 
                                  input.form-control.input-sm(type="text", ng-model="p.ciudadDestino")
                                 td
                                  input.form-control.input-sm(type="text", ng-model="p.poliza")
                                 td 
                                  em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='pedido.eliminarPasajero(p)') 
                        
     tab
        tab-heading Condiciones
        fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
          .col-md-4
                label.control-label Moneda                
                select.form-control(ng-model="monedas.current", ng-options="item.descripcion for item in monedas.data", ng-selected="moneda.current.value==pedido.model.monedaId") 
              .col-md-4
                label.control-label Forma Pago                
                select.form-control(ng-model="formasPago.current", ng-options="item.descripcion for item in formasPago.data", ng-selected="formasPago.current.value==pedido.model.formaPagoId") 
     tab
       tab-heading Info Entrega
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
          .col-md-4
                label.control-label Ciudad                
                select.form-control(ng-model="ciudades.current", ng-options="item.descripcion for item in ciudades.data", ng-selected="ciudades.current.value==pedido.model.ciudadEntregaId") 
          .col-md-4
                label.control-label Fecha
                input.form-control.input-sm(ng-model='pedido.model.fechaEntrega', ng-maxlength='300',type='date')
        .mb-sm.clearfix   
          .col-md-8
                label.control-label Direccion                
                input.form-control.input-sm(ng-model='pedido.model.direccionEntrega', ng-maxlength='80') 
        .mb-sm.clearfix             
          .col-md-12
                 label.control-label Observaciones
                 textarea.form-control( ng-model="pedido.model.observacionEntrega")  

 
        
.modal-footer
  button.btn.btn-sm.btn-default(type='button',  tooltip='Adjuntos', ng-click='pedido.uploadFile()',ng-show="false")
    span ADJUNTOS
  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='pedido.agenda()',ng-show="false")
    span AGENDAS                
  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimiento', ng-click='pedido.seguimiento()',ng-show="false")
    span ...      
  button.btn.btn-sm.btn-warning(type='button',  tooltip='Seguimiento', ng-click='pedido.verSeguimientoHistorico()',ng-show="false")
    span H 
  button.btn.btn-warning(type="button", tooltip="Generar Certificado Parques", ng-click="pedido.generarCertificado()")
    span CERTIFICADO PARQUES  
  button.btn.btn-success(type="button", tooltip="Generar Certificado Zebra", ng-click="pedido.generarCertificadoZebra()")
    span CERTIFICADO ZEBRA  
  button.btn.btn-warning(type="button", tooltip="Generar Factura", ng-click="pedido.generarFactura()",ng-show="pedido.model.pasajeros>0")
    span FACTURA
  button.btn.btn-danger(type="button", tooltip="Anular", ng-click="pedido.anular()",ng-show="btnAnular")
    span ANULAR
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="pedido.save()",ng-show="btnModificar")
    span GUARDAR
