.modal-header.p-sm.pl-lg.pr-lg
  header    
    span.lead.md-lg.text-primary {{destino}}
    a.pull-right(type="button", ng-click="consultaTercero.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix

            .mb-sm.clearfix
              label.col-md-2.control-label Identificación
              .col-md-3
                input.form-control.input-sm(ng-model='consultaTercero.model.identificacion',ng-maxlength='80',ng-pattern='identificacion',ng-disabled='modoEdicion')
              label.col-md-2.control-label Estado
              .col-md-3
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==consultaTercero.model.estado",ng-disabled='modoEdicion')   
            .mb-sm.clearfix
              label.col-md-2.control-label Teléfono
              .col-md-3
                input.form-control.input-sm(ng-model='consultaTercero.model.telefono', ng-maxlength='80', ng-pattern='telefono',ng-disabled='modoEdicion')
              label.col-md-2.control-label Email
              .col-md-3
                input.form-control.input-sm(ng-model='consultaTercero.model.correo', ng-maxlength='80', ng-pattern='correo',type='email',ng-disabled='modoEdicion') 
            .mb-sm.clearfix    
              label.col-md-2.control-label Nombre
              .col-md-8
                input.form-control.input-sm(ng-model='consultaTercero.model.nombre', ng-maxlength='80', ng-pattern='nombre',ng-disabled='modoEdicion')
            .mb-sm.clearfix                     
              label.col-md-2.control-label Dirección
              .col-md-8
                textarea.form-control( ng-model="consultaTercero.model.direccion",ng-disabled='modoEdicion') 
            .mb-sm.clearfix 
              label.col-md-2.control-label Usuario Reg
              .col-md-3
                input.form-control.input-sm(ng-model='consultaTercero.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
              label.col-md-2.control-label Usuario Act
              .col-md-3
                input.form-control.input-sm(ng-model='consultaTercero.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
            .mb-sm.clearfix
              label.col-md-2.control-label Fecha Reg
              .col-md-3
                .input-group
                    input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="consultaTercero.fechaReg.value", is-open="consultaTercero.fechaReg.isOpen", datepicker-options="consultaTercero.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                    span.input-group-btn
                     button.btn.btn-sm.btn-default(type='button', ng-click='consultaTercero.fechaReg.open($event)')
                        i.fa.fa-calendar 
              label.col-md-2.control-label Fecha Act
              .col-md-3
                .input-group
                    input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="consultaTercero.fechaAct.value", is-open="consultaTercero.fechaAct.isOpen", datepicker-options="consultaTercero.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                    span.input-group-btn
                     button.btn.btn-sm.btn-default(type='button', ng-click='consultaTercero.fechaAct.open($event)')
                        i.fa.fa-calendar
    .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                span.lead.md-lg.text-primary Contactos
            .row
             div.mb-sm.clearfix  
              .input-group.m0.col-xs-4.pull-left
                  span.input-group-addon.input-sm
                    em.icon-magnifier
                  input.form-control.input-sm(type='text', ng-model='filtroContactoTercero' )
              .col-xs-2
                button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Contrato", ng-click='contactoTercero.add()',ng-show="modoActualizacion")
                  span: em.icon-plus
                  span Agregar
            .row
              .form-group.col-sm-12
                .table-responsive.table-bordered
                  table.table.table-hover.wd-wide
                    thead
                      tr
                       th
                       th NOMBRE
                       th TELEFONO
                       th CARGO
                       th EMAIL                       
                     tbody
                       tr(ng-repeat="contacto in contactoTercero.data | filter: filtroContactoTercero | orderBy: 'nombre'")
                        td.wd-xxs
                          button.btn.btn-xs.btn-primary(ng-click="contactoTercero.edit(contacto)",ng-show="modoActualizacion")
                            span.fa.fa-pencil-square-o
                        td {{contacto.nombre}}
                        td {{contacto.telefono}}
                        td {{contacto.cargo}}
                        td {{contacto.email}}
                        td
                          em.icon-trash.mr.text-danger(tooltip='Eliminar Contacto', tooltip-placement='bottom', ng-click='contactoTercero.delete(contacto)',ng-show="modoActualizacion") 
    
    
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar",ng-show="modoActualizacion", ng-click="consultaTercero.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar",ng-show="modoActualizacion", ng-click="consultaTercero.close()")
    span CANCELAR