.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Contacto Tercero
    a.pull-right(type="button", ng-click="contactoTercero.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
    .mb-sm.clearfix
      label.col-md-1.control-label Nombre:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='contactoTercero.model.nombre', ng-maxlength='80')
    .mb-sm.clearfix
      label.col-md-1.control-label Teléfono:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='contactoTercero.model.telefono') 
    .mb-sm.clearfix
      label.col-md-1.control-label Extensión:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='contactoTercero.model.ext')
    .mb-sm.clearfix
      label.col-md-1.control-label Email:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='contactoTercero.model.email')
    .mb-sm.clearfix
      label.col-md-1.control-label Cargo:
    .mb-sm.clearfix
      .col-md-12
        input.form-control.input-sm(ng-model='contactoTercero.model.cargo')
    .mb-sm.clearfix
      label.col-md-3.control-label Envio-Info:
    .mb-sm.clearfix
      .col-md-12
        select.form-control(ng-model="envioInf.current", ng-options="item.descripcion for item in envioInf.data", ng-selected="envioInf.current.value==contactoTercero.model.envioInf") 
    
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="contactoTercero.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="contactoTercero.close()")
    span CANCELAR