.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead CLIENTE
    a.pull-right(type="button", ng-click="tercero.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            .mb-sm.clearfix          
              .col-md-4
                label.control-label Identificación
                input.form-control.input-sm(ng-model='tercero.model.identificacion',ng-maxlength='80')
              .col-md-4
                label.control-label Teléfono
                input.form-control.input-sm(ng-model='tercero.model.telefono', ng-maxlength='80') 
              .col-md-4
                label.control-label Estado
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==tercero.model.estado") 
            .mb-sm.clearfix     
              .col-md-4
                label.control-label Email
                input.form-control.input-sm(ng-model='tercero.model.email', ng-maxlength='300')           
              .col-md-4
                label.control-label Móvil
                input.form-control.input-sm(ng-model='tercero.model.movil', ng-maxlength='80')     
              .col-md-4
                label.control-label Tipo
                select.form-control(ng-model="tipos.current", ng-options="item.descripcion for item in tipos.data", ng-selected="tipos.current.value==tercero.model.tipo")   
             .mb-sm.clearfix          
              .col-md-4
                label.control-label Sitio Web
                input.form-control.input-sm(ng-model='tercero.model.sitioWeb',ng-maxlength='80',ng-pattern='identificacion') 
              .col-md-4
                label.control-label Fax
                input.form-control.input-sm(ng-model='tercero.model.fax', ng-maxlength='80') 
              .col-md-4
                label.control-label Tipo Empresas
                select.form-control(ng-model="tipoEmpresas.current", ng-options="item.descripcion for item in tipoEmpresas.data", ng-selected="tipoEmpresas.current.value==tercero.model.tipoEmpresa") 
            .mb-sm.clearfix 
              .col-md-8
                label.control-label Nombre
                input.form-control.input-sm(ng-model='tercero.model.nombre', ng-maxlength='80')
              .col-md-4
                label.control-label Moneda
                select.form-control(ng-model="monedas.current", ng-options="item.descripcion for item in monedas.data", ng-selected="monedas.current.value==tercero.model.moneda") 
            .mb-sm.clearfix 
              .col-md-8
                label.control-label Nombre Comercial
                input.form-control.input-sm(ng-model='tercero.model.nombreComercial', ng-maxlength='80')
              .col-md-4
                label.control-label Clasificación
                select.form-control(ng-model="clasificaciones.current", ng-options="item.descripcion for item in clasificaciones.data", ng-selected="clasificaciones.current.value==tercero.model.clasificacion") 
            .mb-sm.clearfix      
              .col-md-8
                label.control-label Dirección
                textarea.form-control( ng-model="tercero.model.direccion") 
              .col-md-4
                label.control-label Sexo
                select.form-control(ng-model="sexos.current", ng-options="item.descripcion for item in sexos.data", ng-selected="sexos.current.value==tercero.model.sexo") 
            .mb-sm.clearfix  
              .col-md-8
                label.control-label Representante
                input.form-control.input-sm(ng-model='tercero.model.representante', ng-maxlength='80')
              .col-md-4
                label.control-label Comisión
                input.form-control.input-sm(ng-model='tercero.model.comision',ui-number-mask="2", ng-maxlength='5')
      
     tab(ng-show="tercero.model.id!=0")
       tab-heading Contactos  
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Nombre
            input.form-control.input-sm(ng-model='contactoTercero.current.nombre',ng-maxlength='80')
          .col-md-4
            label.control-label Cargo
            input.form-control.input-sm(ng-model='contactoTercero.current.cargo', ng-maxlength='80') 
          .col-md-4
            label.control-label Móvil
            input.form-control.input-sm(ng-model='contactoTercero.current.movil', ng-maxlength='80') 
        .mb-sm.clearfix          
          .col-md-4
            label.control-label Teléfono
            input.form-control.input-sm(ng-model='contactoTercero.current.telefono',ng-maxlength='80')
          .col-md-4
            label.control-label Email
            input.form-control.input-sm(ng-model='contactoTercero.current.email', ng-maxlength='80') 
          .col-md-4
            label.control-label Fax
            input.form-control.input-sm(ng-model='contactoTercero.current.fax', ng-maxlength='80') 
        .mb-sm.clearfix 
          .col-md-8
            label.control-label Dirección
            input.form-control.input-sm(ng-model='contactoTercero.current.direccion', ng-maxlength='80')         
           .col-md-4
            label.control-label Usuario
            input.form-control.input-sm(ng-model='contactoTercero.current.usuario', ng-maxlength='80')
        .mb-sm.clearfix      
          .col-md-8
            label.control-label Observación
            textarea.form-control( ng-model="contactoTercero.current.observacion")  
          .col-md-4
            label.control-label Contraseña
            input.form-control.input-sm(ng-model='contactoTercero.current.contrasenia', ng-maxlength='80')
            label.control-label Contraseña Tmp
            input.form-control.input-sm(ng-model='contactoTercero.current.contraseniaTmp', ng-maxlength='80')
        .mb-sm.clearfix          
          .col-md-2
            label.control-label Comisión            
            input(type='checkbox', ng-model='contactoTercero.current.comision', ng-true-value="true", ng-false-value="false")
          .col-md-2
            label.control-label Cotización            
            input(type='checkbox', ng-model='contactoTercero.current.cotizacion', ng-true-value="true", ng-false-value="false")
          .col-md-2
            label.control-label Activo
            input(type='checkbox', ng-model='contactoTercero.current.activo', ng-true-value="true", ng-false-value="false")
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="contactoTercero.save()")
                span Guardar
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="contactoTercero.cancel()")
                span Cancelar   
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Nombre
                   th Teléfono
                   th Cargo
                   th Email                       
                 tbody
                   tr(ng-repeat="contacto in contactoTercero.data | filter: filtroContactoTercero | orderBy: 'nombre'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="contactoTercero.edit(contacto)")
                        span.fa.fa-pencil-square-o
                    td {{contacto.nombre}}
                    td {{contacto.telefono}}
                    td {{contacto.cargo}}
                    td {{contacto.email}}
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='contactoTercero.delete(contacto)')       
       
     tab(ng-show="tercero.model.tipoEmpresa=='8'")
       tab-heading Referidos
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix        
        .mb-sm.clearfix          
            .col-md-4
                label.control-label Intermediario
                input.form-control.input-sm(ng-model='referidoTercero.current.tercero',ng-maxlength='80',disabled)
            .col-md-4
                label.control-label Porcentaje                
                input.form-control.input-sm(type="text", ng-model="referidoTercero.current.porcentaje", ui-number-mask="2", min="0")
            .col-md-4
                 button.btn.btn-primary(type="button", tooltip="Buscar", ng-click="referidoTercero.buscar()")
                    span Buscar   
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Agregar", ng-click="referidoTercero.save()")
                span Guardar  
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="referidoTercero.cancel()")
                span Cancelar 
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Intermediario
                   th Porcentaje

                 tbody
                   tr(ng-repeat="referido in referidoTercero.data | filter: filtroReferidoTercero | orderBy: 'Intermediario'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="referidoTercero.edit(referido)")
                        span.fa.fa-pencil-square-o
                    td {{referido.tercero}}
                    td {{referido.porcentaje}}                    
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='referidoTercero.delete(referido)') 
      tab(ng-show="tercero.model.tipoEmpresa=='8'")
        tab-heading Comisiones
        fieldset.mb-sm.pb-sm 
          .mb-sm.clearfix        
          .mb-sm.clearfix          
              .col-md-4
                  label.control-label Aseguradora                
                  select.form-control(ng-model='aseguradora.current', ng-options="aseg.tercero for aseg in aseguradora.data | orderBy: 'tercero'" , ng-change='aseguradora.set()')
              .col-md-4
                label.control-label Comision                
                input.form-control.input-sm(type="text", ng-model="comisionTercero.current.comision", ui-number-mask="2", min="0")
            
          .mb-sm.clearfix
            .col-md-12.pull-right
              button.btn.btn-primary(type="button", tooltip="Agregar", ng-click="comisionTercero.save()")
                  span Guardar  
              button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="comisionTercero.cancel()")
                  span Cancelar 
          .mb-sm.clearfix  
          .form-group.col-sm-12
              .table-responsive.table-bordered
                table.table.table-hover.wd-wide
                  thead
                    tr
                    th
                    th Aseguradora
                    th Comision

                  tbody
                    tr(ng-repeat="comision in comisionTercero.data | filter: filtroComisionTercero | orderBy: 'nombreAseguradora'")
                      td.wd-xxs
                        button.btn.btn-xs.btn-primary(ng-click="comisionTercero.edit(comision)")
                          span.fa.fa-pencil-square-o
                      td {{comision.nombreAseguradora}}
                      td {{comision.comision}}                    
                      td
                        em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='comisionTercero.delete(comision)') 
      tab
       tab-heading Datos Bancarios
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix        
        .mb-sm.clearfix          
            .col-md-4
              label.control-label Banco
              select.form-control(ng-model="bancos.current", ng-options="item.descripcion for item in bancos.data", ng-selected="bancos.current.value==cuentaTercero.current.banco") 
            .col-md-4
              label.control-label Tipo Cuenta
              select.form-control(ng-model="tiposCuenta.current", ng-options="item.descripcion for item in tiposCuenta.data", ng-selected="tiposCuenta.current.value==cuentaTercero.current.tipoCuenta") 
            .col-md-4
              label.control-label Número
              input.form-control.input-sm(ng-model='cuentaTercero.current.numero', ng-maxlength='80') 
          .mb-sm.clearfix          
            .col-md-4
              label.control-label Cédula
              input.form-control.input-sm(ng-model='cuentaTercero.current.cedula',ng-maxlength='80')
            .col-md-4
              label.control-label Descripcion
              input.form-control.input-sm(ng-model='cuentaTercero.current.descripcion', ng-maxlength='80') 
            .col-md-4
              label.control-label Activa
              input(type='checkbox', ng-model='cuentaTercero.current.activo', ng-true-value="true", ng-false-value="false")        
        .mb-sm.clearfix
          .col-md-12.pull-right
             button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="cuentaTercero.save()")
                span Guardar
             button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="cuentaTercero.cancel()")
                span Cancelar 
        .mb-sm.clearfix  
         .form-group.col-sm-12
            .table-responsive.table-bordered
              table.table.table-hover.wd-wide
                thead
                  tr
                   th
                   th Descripción
                   th Cédula
                   th Cuenta      
                   th Tipo                   

                 tbody
                   tr(ng-repeat="cuenta in cuentaTercero.data | filter: filtroReferidoTercero | orderBy: 'Descripcion'")
                    td.wd-xxs
                      button.btn.btn-xs.btn-primary(ng-click="cuentaTercero.edit(cuenta)")
                        span.fa.fa-pencil-square-o
                    td {{cuenta.descripcion}}
                    td {{cuenta.cedula}}
                    td {{cuenta.numero}}  
                    td {{cuenta.tipoCuenta}}                    
                    td
                      em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='cuentaTercero.delete(cuenta)') 
            
        
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="tercero.save()")
    span GUARDAR
  button.btn.btn-default(type="button", tooltip="Cancelar", ng-click="tercero.close()")
    span CANCELAR