h3 Clientes
  small Administración de Clientes
  
.row.col-xs-11
  .panel
    .panel-body.p0      
       .mb-sm.clearfix         
        .col-md-4           
           label.col-sd-4.control-label CODIGO:
           input.form-control.input-sm(ng-model='busquedaTercero.model.codigo',ng-maxlength='80')        
        .col-md-4   
          label.col-sd-8.control-label RAZON SOCIAL:
          input.form-control.input-sm(ng-model='busquedaTercero.model.razonSocial',ng-maxlength='80')
        .col-md-4   
          label.col-sd-4.control-label IDENTIFICACION:
          input.form-control.input-sm(ng-model='busquedaTercero.model.identificacion',ng-maxlength='80')
      .mb-sm.clearfix  
        .col-md-4           
           label.col-sd-4.control-label EMAIL:
           input.form-control.input-sm(ng-model='busquedaTercero.model.email',ng-maxlength='80')        
        .col-md-4   
          label.col-sd-8.control-label DIRECCION:
          input.form-control.input-sm(ng-model='busquedaTercero.model.direccion',ng-maxlength='80')
        .col-md-4   
          label.col-sd-8.control-label TELEFONO:
          input.form-control.input-sm(ng-model='busquedaTercero.model.telefono',ng-maxlength='80')
      .mb-sm.clearfix 
        .col-md-4
          label.col-sd-4.control-label TIPO:
          select.form-control(ng-model='tipoTercero.current', ng-options='item.descripcion for item in tipoTercero.data', ng-change="terceros.getData()")  
        .col-md-2
          label.col-sd-4.control-label ESTADO:
          select.form-control(ng-model='estadoTercero.current', ng-options='item.descripcion for item in estadoTercero.data', ng-change="terceros.getData()")
        .col-md-4   
          label.col-sd-8.control-label INTERMEDIARIO:
          input.form-control.input-sm(ng-model='busquedaTercero.model.intermediario',ng-maxlength='80')        
        .col-md-2
           label.col-sd-4.control-label 
           button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.SEARCH' | translate }}", ng-click='terceros.getData()')
              span: em.icon-reload
              span.hidden-xs {{ 'app.SEARCH' | translate }}
          
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='terceros.filter()' ng-model='terceros.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right            
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='terceros.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}           
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr             
              th CODIGO
              th IDENTIFICACION
              th RAZON SOCIAL 
              th EMAIL
              th TELEFONO  
              th INTERMEDIARIO  
              th ESTADO  
              th 
          tbody
            td.height-lg(colspan="8", ng-show="terceros.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="8", ng-show="terceros.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in terceros.data ", ng-class="{true: 'active'}[item.check]")
              
              td {{ item.codigo }}
              td {{ item.identificacion }}
              td {{ item.nombre }}
              td {{ item.correo }}
              td {{ item.telefono }}  
              td {{ item.intermediario }}  
              td
               span.label.label-primary(ng-if="item.estado == ESTADO_ACTIVO") Activo
               span.label.label-default(ng-if="item.estado == ESTADO_INACTIVO") Inactivo
               span.label.label-warning(ng-if="item.estado == ESTADO_ELIMINADO") Eliminado
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="...", tooltip-placement='bottom', ng-click='terceros.edit(item)')
    .row
      .col-lg-12(ng-hide='terceros.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='terceros.paginations.totalItems',ng-model='terceros.paginations.currentPage',max-size='terceros.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='terceros.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='terceros.paginations.numPages', ng-change='terceros.changePage()', first-text="«", last-text="»")
