h3 Calendario
  small 
.row
  .panel
    .panel-heading
      .row       
        .form-group.m0.col-xs-12.col-sm-12
          .pull-left               
             button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.SEARCH' | translate }}", ng-click='cotizaciones.getData()')
              span: em.icon-reload
              span.hidden-xs {{ 'app.SEARCH' | translate }}
// START row
.calendar-app
  .row    
    .col-lg-12.col-md-12
      // START panel
      .panel.panel-default
        .panel-body
          // START calendar
          div(calendar="")
          // END calendar
      // END panel
  // END row


