html
  body
    h3
      a.text-primary(ng-click='agenda.back()') Agenda
      small Gestión de agendas 
.row
  .panel
    .panel-body      
        tabset.bg-white.p0(justified='true')
         tab
           tab-heading Información
           br
           .mb-sm.clearfix
              label.col-md-2.control-label  Fecha Inicial
              .col-md-3
                .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd ", ng-model="agenda.fechaInicial.value", is-open="agenda.fechaInicial.isOpen", datepicker-options="agenda.fechaInicial.dateOptions", readonly="true",   show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='agenda.fechaInicial.open($event)')
                          i.fa.fa-calendar  
              label.col-md-2.control-label Fecha Final
              .col-md-3                
                .input-group
                            input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="agenda.fechaFinal.value", is-open="agenda.fechaFinal.isOpen", datepicker-options="agenda.fechaFinal.dateOptions", readonly="true", show-button-bar="false")
                            span.input-group-btn
                             button.btn.btn-sm.btn-default(type='button', ng-click='agenda.fechaFinal.open($event)')
                              i.fa.fa-calendar                        
            .mb-sm.clearfix 
               label.col-md-2.control-label  Hora Inicial
               .col-md-3               
                    uib-timepicker(ng-model='agenda.fechaInicial.value', ng-change='agenda.horaInicial.changed()', hour-step='agenda.horaInicial.hstep', minute-step='agenda.horaInicial.mstep', show-meridian='agenda.horaInicial.ismeridian')    
                          
                label.col-md-2.control-label  Hora Final
               .col-md-3               
                    uib-timepicker(ng-model='agenda.fechaFinal.value', ng-change='agenda.horaFinal.changed()', hour-step='agenda.horaFinal.hstep', minute-step='agenda.horaFinal.mstep', show-meridian='agenda.horaFinal.ismeridian')
                          
           .mb-sm.clearfix
              label.col-md-1.control-label Asunto
              .col-md-10
               input.form-control.input-sm(ng-model='agenda.model.asunto', ng-maxlength="80", ng-pattern="asunto", required)  
           .mb-sm.clearfix
              label.col-md-1.control-label Descripción
              .col-md-10
                textarea.form-control.form-sm(ng-model='agenda.model.descripcion', required) 
                
           .mb-sm.clearfix
             label.col-md-1.control-label Estado
             .col-md-3                         
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==agenda.model.estado") 
             label.col-md-2.control-label Tipo 
             .col-md-5
                 select.form-control(ng-model='tipoAgenda.current', ng-options="tipo.descripcion for tipo in tipoAgenda.data", ng-selected='tipo.Codigo==agenda.model.tipoAgendaId', ng-change='tipoAgenda.setTipo()')
            .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='agenda.save()')
                    span GUARDAR                 
                  button.btn.btn-sm.btn-default(type='button',tooltip='Adjuntos' ,ng-show="modoCreacion" ng-click='agenda.uploadFile()')
                    span ADJUNTOS
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimientos',ng-show="modoCreacion", ng-click='agenda.seguimiento()')
                    span ... 
              
          tab
            tab-heading Responsables      
            br
            div.mb-sm.clearfix
             .col-md-5
                ui-select(ng-model='funcionarios.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione ') {{$select.selected.nombre}}
                      ui-select-choices(repeat="m in funcionarios.data | propsFilter: {nombre: $select.search, cargo: $select.search} | orderBy: ['nombre', 'cargo']")
                        div(ng-bind-html='m.nombre | highlight: $select.search')
                        small {{m.cargo}}              
              .col-md-3
               button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Responsable", ng-click='agenda.addResponsable()')
                span
                 em.icon-plus
                span.ng-binding Agregar Responsable
            .panel-body.p0
             .table-responsive.table-bordered
               table.table.table-hover.wd-wide
                 thead
                   tr
                     th Nombre
                     th
                 tbody
                   tr(ng-repeat="item in agenda.model.responsables")
                      td {{ item.nombre }}
                      td.wd-sm
                          .ph.m0.text-muted.visible-inline.pull-right                              
                              em.icon-trash.mr.text-danger(tooltip="Eliminar Responsable", tooltip-placement='bottom', ng-click='agenda.removeResponsable(item)')   
           tab
            tab-heading Consecutivos      
            br
            div.mb-sm.clearfix
             .col-md-5
                ui-select(ng-model='consecutivos.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione ') {{$select.selected.consecutivo}}
                      ui-select-choices(repeat="m in consecutivos.data | propsFilter: {consecutivo: $select.search, cliente: $select.search} | orderBy: ['consecutivo', 'cliente']")
                        div(ng-bind-html='m.consecutivo | highlight: $select.search')
                        small {{m.cliente}}              
              .col-md-3
               button.btn.btn-sm.btn-primary(type='button', tooltip="Agregar Consecutivo", ng-click='agenda.addConsecutivo()')
                span
                 em.icon-plus
                span.ng-binding Agregar Consecutivo
            .panel-body.p0
             .table-responsive.table-bordered
               table.table.table-hover.wd-wide
                 thead
                   tr
                     th Nombre
                     th
                 tbody
                   tr(ng-repeat="item in agenda.model.consecutivos")
                      td {{ item.consecutivo }}
                      td.wd-sm
                          .ph.m0.text-muted.visible-inline.pull-right                              
                              em.icon-trash.mr.text-danger(tooltip="Eliminar Consecutivo", tooltip-placement='bottom', ng-click='agenda.removeConsecutivo(item)')   