.modal-header.p-sm.pl-lg.pr-lg
  header
    span.text-light.lead AGENDAS
      a.pull-right(type="button", ng-click="agenda.close()")
        span.fa.fa-times.text-danger
.modal-body.clearfix
    .row
       div.mb-sm.clearfix        
           .mb-sm.clearfix
              label.col-md-2.control-label  Fecha Inicial
              .col-md-3
                .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd ", ng-model="agenda.fechaInicial.value", is-open="agenda.fechaInicial.isOpen", datepicker-options="agenda.fechaInicial.dateOptions", readonly="true",   show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='agenda.fechaInicial.open($event)')
                          i.fa.fa-calendar  
              label.col-md-2.control-label Fecha Final
              .col-md-3                
                .input-group
                            input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="agenda.fechaFinal.value", is-open="agenda.fechaFinal.isOpen", datepicker-options="agenda.fechaFinal.dateOptions", readonly="true", show-button-bar="false")
                            span.input-group-btn
                             button.btn.btn-sm.btn-default(type='button', ng-click='agenda.fechaFinal.open($event)')
                              i.fa.fa-calendar                        
            .mb-sm.clearfix 
               label.col-md-2.control-label  Hora Inicial
               .col-md-3               
                    uib-timepicker(ng-model='agenda.fechaInicial.value', ng-change='agenda.horaInicial.changed()', hour-step='agenda.horaInicial.hstep', minute-step='agenda.horaInicial.mstep', show-meridian='agenda.horaInicial.ismeridian')    
                          
                label.col-md-2.control-label  Hora Final
               .col-md-3               
                    uib-timepicker(ng-model='agenda.fechaFinal.value', ng-change='agenda.horaFinal.changed()', hour-step='agenda.horaFinal.hstep', minute-step='agenda.horaFinal.mstep', show-meridian='agenda.horaFinal.ismeridian')
                          
           .mb-sm.clearfix
              label.col-md-1.control-label Asunto
              .col-md-10
               input.form-control.input-sm(ng-model='agenda.model.asunto', ng-maxlength="80", ng-pattern="asunto", required)  
           .mb-sm.clearfix
              label.col-md-1.control-label Descripción
              .col-md-10
                textarea.form-control.form-sm(ng-model='agenda.model.descripcion', required) 
                
           .mb-sm.clearfix
             label.col-md-1.control-label Estado
             .col-md-3                         
                select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==agenda.model.estado") 
             label.col-md-2.control-label Responsable 
             .col-md-5
                 select.form-control(ng-model="funcionarios.current", ng-options="item.funcionario for item in funcionarios.data", ng-selected="funcionarios.current.id==agenda.model.responsable") 
            .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='agenda.save()')
                    span GUARDAR  
                  button.btn.btn-sm.btn-default(type='button', tooltip='Cancelar', ng-click='agenda.cancel()')
                    span CANCELAR 
                  button.btn.btn-sm.btn-default(type='button', tooltip='Seguimientos', ng-click='agenda.seguimiento()',ng-show="modoEdicion")
                    span ...   
                  button.btn.btn-sm.btn-default(type='button', tooltip='Abrir', ng-click='agenda.openReference()',ng-show="modoEdicion")
                    span ABRIR
           
