html
  body
    h3
      a.text-primary(ng-click='producto.back()') Producto
      small Gestiona la información de los productos
    .row
      .panel
        .panel-body
          form.form-horizontal.mb-lg(role='form')
            .form-group.m-sm
              fieldset.mb-sm.pb-sm
                .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Guardar', ng-click='producto.save()')
                    span GUARDAR
                  button.btn.btn-sm.btn-default(type='button', tooltip='Cancelar', ng-click='producto.back()')
                    span CANCELAR  
                .mb-sm.clearfix
                  label.col-md-2.control-label Nombre
                  .col-md-6
                    input.form-control.input-sm(ng-model='producto.model.nombre', ng-maxlength='80', ng-pattern='nombre')
                .mb-sm.clearfix
                  label.col-md-2.control-label Descripción
                  .col-md-6
                    textarea.form-control( ng-model="producto.model.descripcion")                    
                .mb-sm.clearfix    
                  label.col-md-2.control-label Valor
                  .col-md-3
                    input.form-control.input-sm.text-align-right(type="text", ui-number-mask="2", ng-model="producto.model.valor")                
                  label.col-md-2.control-label Estado
                  .col-md-3
                    select.form-control(ng-model="estados.current", ng-options="item.descripcion for item in estados.data", ng-selected="estados.current.value==producto.model.estado")                 
                .mb-sm.clearfix
                  label.col-md-2.control-label Usuario Reg
                  .col-md-3
                    input.form-control.input-sm(ng-model='producto.model.usuarioReg', ng-maxlength='80', ng-pattern='usuarioReg',disabled)
                  label.col-md-2.control-label Usuario Act
                  .col-md-3
                    input.form-control.input-sm(ng-model='producto.model.usuarioAct', ng-maxlength='80', ng-pattern='usuarioAct',disabled)
                .mb-sm.clearfix
                  label.col-md-2.control-label Fecha Reg
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="producto.fechaReg.value", is-open="producto.fechaReg.isOpen", datepicker-options="producto.fechaReg.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='producto.fechaReg.open($event)')
                          i.fa.fa-calendar 
                  label.col-md-2.control-label Fecha Act
                  .col-md-3
                    .input-group
                        input.form-control.input-sm(type="text", uib-datepicker-popup="yyyy/MM/dd", ng-model="producto.fechaAct.value", is-open="producto.fechaAct.isOpen", datepicker-options="producto.fechaAct.dateOptions", readonly="true", show-button-bar="false")
                        span.input-group-btn
                         button.btn.btn-sm.btn-default(type='button', ng-click='producto.fechaAct.open($event)')
                          i.fa.fa-calendar   