<h3><a class="text-primary">Roles</a>
   <small></small>
</h3>
<div class="row">
   <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-horizontal"></form>
            <fieldset>
               <legend>
                  <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
                     <span class="input-group-addon input-sm">
                        <em class="icon-magnifier"></em>
                     </span>
                     <input type="text" ng-model="filterText" class="form-control input-sm" />
                  </div>
               </legend>
               <div class="pull-right">
                  <button type="button" tooltip="Agregar Rol" ng-click="gridOptions.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span>Nuevo Rol</span>
                  </button>
               </div>
               <div style="width: 100%" class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>NOMBRE</th>
                           <th>ESTADO</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody style="width: 100%; height: 400px;">
                        <tr ng-repeat="item in gridOptions.data | orderBy: 'id' | filter: filterText">
                           <td>{{item.id}}</td>
                           <td ng-init="name=item.nombre">{{item.nombre}}</td>
                           <td>
                              <span ng-if="item.estado == 1" class="label label-primary">Activo</span>
                              <span ng-if="item.estado == 0" class="label label-default">Inactivo</span>
                           </td>
                           <td class="wd-sm">
                              <div class="ph m0 visible-inline pull-right">
                                 <em tooltip="Editar" tooltip-placement="bottom" ng-click="gridOptions.edit(item)" ng-if="item.id!=1" class="icon-pencil mr"></em>
                                 <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="gridOptions.remove(item)" ng-if="item.id!=1" class="icon-trash mr text-danger"></em>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </fieldset>
         </div>
      </div>
   </div>
</div>