<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <label class="col-md-5 control-label text-primary">Roles</label>
      <a type="button" ng-click="rol.dismiss()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body clearfix">
   <div class="mb-sm clearfix">
      <label class="col-md-3 control-label">Nombre:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-10">
         <input ng-model="rol.model.nombre" class="form-control input-sm" />
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-3 control-label">Estado:</label>
   </div>
   <div class="mb-sm clearfix">
      <div class="col-md-10">
         <select ng-model="estados.current" ng-options="item.value for item in estados.data" class="form-control"></select>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="rol.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="rol.dismiss()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>