.modal-header.p-sm.pl-lg.pr-lg
  header
    span.text-light.lead ARCHIVOS ADJUNTOS
      a.pull-right(type="button", ng-click="fileManager.close()")
        span.fa.fa-times.text-danger
.modal-body.clearfix
    .row
      .col-md-12
        form(name='formAdjuntarArchivo')
          .form-group.m-sm
            div.mb-sm.clearfix
                span.col-md-2 Archivo
                .col-md-10
                  input.form-control.form-sm(type='file', ngf-select='', ng-model='fileManager.model.file', name='file', required)
            div.mb-sm.clearfix
                span.col-md-2 Comentario
                .col-md-10
                  textarea.form-control.form-sm(ng-model='fileManager.model.comentario', required)
            div.mb-sm.clearfix
              button.btn.btn-primary(ng-disabled="!formAdjuntarArchivo.$valid", ng-click='fileManager.uploader(fileManager.model.file)') Adjuntar
    .row
      .col-md-12
        .table-responsive.table-bordered
          table.table.table-hover.wd-wide
            thead
              tr                        
                th COMENTARIO
                th FECHA
                th USUARIO
                th
                th(ng-hide="hideDelete")
            tbody
              td.height-sm(colspan="7", ng-show="fileManager.loading")
                p.text-center
                  i.fa.fa-spinner.fa-spin.fa-2x.text-muted
                p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
              td.height-sm(colspan="7", ng-show="fileManager.noData")
                p.text-center.lead.text-primary No se encontraron adjuntos
              tr(ng-repeat="item in fileManager.data", ng-class="{true: 'active'}[item.check]")
                td {{ item.nombre }}
                td {{ item.fechaCreacion | date:'dd/M/yyyy hh:mm:ss'}}
                td {{ item.usuario }}
                td.wd-xxs
                  button.btn.btn-xs.btn-primary(ng-click="fileManager.visualizar(item.id)")
                    span.fa.fa-download
                td.wd-xxs(ng-hide="hideDelete")
                  button.btn.btn-xs.btn-danger(ng-click="fileManager.eliminar(item.id)")
                    span.fa.fa-trash-o
    .row
      .col-lg-12(ng-hide='fileManager.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='fileManager.paginations.totalItems',ng-model='fileManager.paginations.currentPage',max-size='fileManager.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='fileManager.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='fileManager.paginations.numPages', ng-change='fileManager.changePage()', first-text="«", last-text="»")