.modal-header.p-sm.pl-md.pr-md
  header
    span.text-light.lead CARGUE ARCHIVO
      a.pull-right(type="button", ng-click="fileManager.close()")
        span.fa.fa-times.text-danger
.modal-body.clearfix
    .row
      .col-md-12
        form(name='formAdjuntarArchivo')
          .form-group.m-sm
            div.mb-sm.clearfix
                span.col-md-2 Archivo
                .col-md-10
                  input.form-control.form-sm(type='file', ngf-select='', ng-model='fileManager.model.file', name='file', required)
            div.mb-sm.clearfix
              button.btn.btn-primary(ng-disabled="!formAdjuntarArchivo.$valid", ng-click='fileManager.uploader(fileManager.model.file)') Cargar Archivo
    div
    div
    .panel-body.p0(ng-show = "motrarTabla")
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              th DATOS
              th ERROR
              th HOJA
              th TABLA
          tbody
            td.height-lg(colspan="4", ng-show="dataPage.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="4", ng-show="dataPage.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in dataPage.data", ng-class="{true: 'active'}[item.check]")
              td {{ item.Datos }}
              td {{ item.Error }}
              td {{ item.Hoja }}
              td {{ item.Tabla }}
        .row
          .col-lg-12(ng-hide='dataPage.paginations.numPages == 1')
              pagination.m.pagination-sm.pull-right(total-items='dataPage.paginations.totalItems',ng-model='dataPage.paginations.currentPage',max-size='dataPage.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='dataPage.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='dataPage.paginations.numPages', ng-change='dataPage.changePage()', first-text="«", last-text="»")
