

<div class="modal-header">
   <header>
      <label class="col-md-7 control-label text-primary">Ubicación</label>
      <a type="button" ng-click="registroUbicacionModal.close()" class="pull-right">
         <span class="fa fa-times text-danger"></span>
      </a>
      <br/>
   </header>
</div>
<div class="modal-body">
   <div class="mb-sm clearfix">
      <div id="map" ui-map="myMapModal" ui-options="mapOptionsModal" class="gmap"></div>
   </div>
    <div class="mb-sm clearfix">
      <div id="map"></div>
   </div>
    
    
    
    
    
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Tipo:</label>
      <div class="col-md-3">
         <select ng-model="tipos.current" ng-options="item.descripcion for item in tipos.data" ng-selected="tipos.current.value==registroUbicacionModal.model.tipo" class="form-control"></select>
      </div>
   </div>
   <div class="mb-sm clearfix">
      <label class="col-md-1 control-label">Comentario:</label>
      <div class="col-md-6">
         <textarea ng-model="registroUbicacionModal.model.comentario" class="form-control"></textarea>
      </div>
   </div>
   <div class="mb-sm clearfix"></div>
</div>
<div class="modal-footer">
   <button type="button" tooltip="Guardar" ng-click="registroUbicacionModal.save()" class="btn btn-primary">
      <span>GUARDAR</span>
   </button>
   <button type="button" tooltip="Cancelar" ng-click="registroUbicacionModal.close()" class="btn btn-default">
      <span>CANCELAR</span>
   </button>
</div>

<script>

 var mapDiv = document.getElementById('map');

        function initMap() {
            
             if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(setUbicacion);
                } else {
                    
                   var map = new google.maps.Map(mapDiv, {
                      center: {lat: 44.540, lng: -78.546},
                      zoom: 8
                  });
                    
                }  
        }

        function setUbicacion (pos) {            
            
             var crd = pos.coords;  
            
             var map = new google.maps.Map(mapDiv, {
              center: {lat:crd.latitude, lng: crd.longitude},
              zoom: 16
                 });
            var myLatLng = {lat: crd.latitude, lng: crd.longitude};
            
            var marker = new google.maps.Marker({
                position:  myLatLng,
                map: map,
                title: 'Ubicación'
              });            
        }
    </script>

<script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQMaVBZQTPu5tPLNA39ulXaNdUGGqSCSw&v=3.21&callback=initMap"></script>