<div class="modal-header p-sm pl-lg pr-lg">
   <header>
      <span class="text-light lead">EDITAR INFORMACION
         <a type="button" ng-click="volumen.close()" class="pull-right">
            <span class="fa fa-times text-danger"></span>
         </a>
      </span>
   </header>
</div>
<div class="modal-body clearfix">
   <span ng-if="mensaje!=null" class="alert alert-danger">{{mensaje}}</span>
   <div class="mb-sm clearfix">
      <div class="form-group m-sm">
         <div class="mb-sm clearfix">
            <span class="col-md-6">Procedencia</span>
            <div class="col-md-6">
               <input type="text" ng-model="volumen.model.procedenciaNombre" disabled="disabled" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Volumen</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="volumen.model.volumen" class="form-control input-sm" />
            </div>
         </div>
         <div class="mb-sm clearfix">
            <span class="col-md-6">Precio</span>
            <div class="col-md-6">
               <input ui-number-mask="2" ng-model="volumen.model.precio" class="form-control input-sm" />
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" ng-click="volumen.send()" class="btn btn-primary">Guardar</button>
   <button type="button" ng-click="volumen.close()" class="btn btn-default">Cancelar</button>
</div>