<h3>Usuarios</h3>
<div class="row">
   <div class="panel">
      <div class="panel-body">
         <div class="row">
            <form role="form" class="form-horizontal mb-lg col-md-8">
               <fieldset class="mb-sm pb-sm"></fieldset>
            </form>
         </div>
         <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
            <span class="input-group-addon input-sm">
               <em class="icon-magnifier"></em>
            </span>
            <input type="text" ng-change="dataPage.filter()" ng-model="dataPage.filterText" class="form-control input-sm" />
         </div>
         <div class="form-group m0 col-xs-6 col-sm-9">
            <div class="pull-right">
               <button type="button" ng-click="dataPage.add()" class="btn btn-sm btn-primary">
                  <span>
                     <em class="icon-plus"></em>
                  </span>
                  <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
               </button>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>LOGIN</th>
                     <th>NOMBRE USUARIO</th>
                     <th>TIPO AUTENTICACION</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="5" ng-show="dataPage.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="5" ng-show="dataPage.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in dataPage.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.usuario }}</td>
                     <td>{{ item.nombre }}</td>
                     <td>{{ item.tipoAuth }}</td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar Registro" tooltip-placement="bottom" ng-click="dataPage.actualizar(item)" class="icon-pencil mr"></em>
                           <em tooltip="Eliminar Usuario" tooltip-placement="bottom" ng-click="dataPage.eliminar(item)" class="icon-trash mr text-danger"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="dataPage.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="dataPage.paginations.totalItems" ng-model="dataPage.paginations.currentPage" max-size="dataPage.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="dataPage.paginations.itemsPerPage" previous-text="‹"
            next-text="›" num-pages="dataPage.paginations.numPages" ng-change="dataPage.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right">
               <div class="mb-lg clearfix">
                  <button type="button" ng-click="goToAddUsuario()" class="btn btn-sm btn-primary">
                     <span class="hidden-xm">+</span>
                  </button>
               </div>
            </pagination>
         </div>
      </div>
   </div>
</div>