<h3>Editar Usuario</h3>
<div class="row">
   <div class="panel">
      <div class="panel-body">
         <div class="row">
            <form role="form" class="form-horizontal mb-lg col-md-7">
               <fieldset class="mb-sm pb-sm">
                  <div class="mb-sm clearfix">
                     <label class="col control-label">Datos de Usuario</label>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Login:</label>
                     <div class="col-sm-4">
                        <input type="text" ng-model="usuarios.model.usuario" class="form-control input-sm" />
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Nombre de Usuario:</label>
                     <div class="col-sm-8">
                        <input type="text" ng-model="usuarios.model.nombre" class="form-control input-sm" />
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">E-mail:</label>
                     <div class="col-sm-8">
                        <input type="text" ng-model="usuarios.model.email" class="form-control input-sm" />
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Tipo Autenticación:</label>
                     <div class="col-sm-4">
                        <select ng-model="tipoAuth.current" ng-options="tipoAuth.name for tipoAuth in tipoAuth.data" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Fecha Registro:</label>
                     <div class="col-sm-4">
                        <input type="text" ng-model="usuarios.fechaRegistro" ng-disabled="true" class="form-control input-sm" />
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Activo/Inactivo:</label>
                     <div class="col-sm-4">
                        <div class="checkbox c-checkbox m0">
                           <label>
                              <input type="checkbox" ng-model="usuarios.model.selected" ng-true-value="1" ng-false-value="0" ng-click="" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col control-label">Datos Corporativos</label>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Operadora:</label>
                     <div class="col-sm-4">
                        <select ng-model="operadora.current" ng-change="selectAction()" ng-options="operadora.name for operadora in operadora.data" class="form-control"></select>
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Cédula:</label>
                     <div class="col-sm-4">
                        <input ng-blur="validarFuncionario()" ng-model="usuarios.model.documento" ng-disabled="disableOperadora" validation="REGULAR_EXPRESION.POSITIVES_INTEGERS" class="form-control input-sm" />
                     </div>
                  </div>
                  <div class="mb-sm clearfix">
                     <label class="col-sm-4 control-label">Matricula Profesional:</label>
                     <div class="col-sm-4">
                        <input type="text" ng-model="usuarios.model.matricula" ng-disabled="disableOperadora" class="form-control input-sm" />
                     </div>
                  </div>
               </fieldset>
            </form>
            <div>
               <div class="mb-lg clearfix"></div>
               <button type="button" ng-click="usuarios.send()" ng-show="!edicion" class="btn btn-sm btn-primary">
                  <span class="hidden-xs">GUARDAR</span>
               </button>
               <button type="button" ng-click="usuarios.update()" ng-show="edicion" class="btn btn-sm btn-primary">
                  <span class="hidden-xs">ACTUALIZAR</span>
               </button>
               <button type="button" ng-click="usuarios.close()" class="btn btn-sm btn">
                  <span class="hidden-xs">CANCELAR</span>
               </button>
            </div>
            <div class="mb-sm clearfix">
               <br/>
            </div>
            <div class="mb-sm clearfix">
               <label class="col control-label">Perfiles del Usuario</label>
            </div>
            <div class="mb-sm clearfix">
               <div class="table-responsive table-bordered">
                  <table class="table table-hover wd-wide">
                     <thead>
                        <tr>
                           <td>
                              <div class="col-md-5">PERFIL</div>
                           </td>
                           <td>
                              <div class="col-md-5">ACTIVO</div>
                           </td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="lista in usuarios.listaPerfiles">
                           <td>{{lista.nombre}}</td>
                           <td>
                              <div class="checkbox c-checkbox m0">
                                 <label>
                                    <input type="checkbox" ng-model="lista.selected" ng-true-value="1" ng-false-value="0" ng-click="" />
                                    <span class="fa fa-check"></span>
                                 </label>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>