.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Pasajeros
    a.pull-right(type="button", ng-click="pasajeros.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
            .mb-sm.clearfix 
                    .col-md-3
                        label.control-label Nombre
                        input.form-control.input-sm(ng-model='pasajeros.model.nombre', ng-maxlength='300')
                    .col-md-3
                        label.control-label Apellido
                        input.form-control.input-sm(ng-model='pasajeros.model.apellido', ng-maxlength='300') 
                    .col-md-3
                        label.control-label Email
                        input.form-control.input-sm(ng-model='pasajeros.model.email', ng-maxlength='300') 
                    .col-md-3
                        label.control-label Identificación
                        input.form-control.input-sm(ng-model='pasajeros.model.identificacion', ng-maxlength='300') 
                    .col-md-3
                        label.control-label Dirección
                        input.form-control.input-sm(ng-model='pasajeros.model.direccion', ng-maxlength='300') 
                    .col-md-3
                        label.control-label Télefono
                        input.form-control.input-sm(ng-model='pasajeros.model.telefono', ng-maxlength='300')
                    .col-md-3
                        label.control-label Celular
                        input.form-control.input-sm(ng-model='pasajeros.model.celular', ng-maxlength='300')
                    .col-md-3
                        label.control-label Estado
                        select.form-control(ng-model='estadoPasajero.current', ng-options='item.descripcion for item in estadoPasajero.data')
                    .col-md-3
                        label.control-label Intermediario
                        input.form-control.input-sm(ng-model='pasajeros.model.intermediario', ng-maxlength='300')
             .mb-sm.clearfix 
                    .col-md-3
                         button.btn.btn-sm.btn-primary(type='button',  tooltip='Buscar', ng-click='pasajeros.getData()')
                            span Buscar                        
                 
            .mb-sm.clearfix 
                        .input-group.m0.col-xs-6.col-sm-3.pull-left
                          span.input-group-addon.input-sm
                            em.icon-magnifier
                          input.form-control.input-sm(type='text' ng-change='pasajeros.filter()' ng-model='polizas.filterText' )    
            
            .mb-sm.clearfix 
                     .table-responsive.table-bordered
                        table.table.table-hover.wd-wide
                          thead
                            tr
                              th                               
                              th Identificacion
                              th Nombre/Apellido
                              th Movil
                              th Email
                              
                          tbody
                            td.height-lg(colspan="5", ng-show="pasajeros.loading")
                              p.text-center
                                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
                              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
                            td.height-lg(colspan="5", ng-show="pasajeros.noData")
                              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
                            tr(ng-repeat="item in pasajeros.data | orderBy: 'precio'", ng-class="{true: 'active'}[item.check]")
                              td.wd-xxs
                                button.btn.btn-sm.btn-primary(type='button',  tooltip='Buscar', ng-click='pasajeros.setPasajero(item)')
                                    span Seleccionar
                                    
                                  
                              td {{ item.identificacion }}
                              td {{ item.nombre+' '+item.apellido }}
                              td {{ item.movil }}
                              td {{ item.correo }}
                              

                              td.wd-sm
                                .ph.m0.text-muted.visible-inline.pull-right
                    .row
                      .col-lg-12(ng-hide='pasajeros.paginations.numPages == 1')
                          pagination.m.pagination-sm.pull-right(total-items='pasajeros.paginations.totalItems',ng-model='pasajeros.paginations.currentPage',max-size='pasajeros.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='pasajeros.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='pasajeros.paginations.numPages', ng-change='pasajeros.changePage()', first-text="«", last-text="»")
        


 