.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary POLIZAS
    a.pull-right(type="button", ng-click="polizas.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
            .mb-sm.clearfix 
                    .col-md-3
                        label.control-label Aseguradora
                        select.form-control(ng-model="destinos.current", ng-options="item.descripcion for item in destinos.data", ng-selected="destinos.current.value==cotizacion.model.destino") 
                    .col-md-3
                        label.control-label Ordenar Por
                        select.form-control(ng-model="tiposViaje.current", ng-options="item.descripcion for item in tiposViaje.data", ng-selected="tiposViaje.current.value==cotizacion.model.tipoViaje")              
                    .col-md-3
                        label.control-label Días - Viaje  {{polizas.model.dias}}                      
                    .col-md-3
                        label.control-label Pasajeros  {{polizas.model.pasajeros}}
            .mb-sm.clearfix 
                        .input-group.m0.col-xs-6.col-sm-3.pull-left
                          span.input-group-addon.input-sm
                            em.icon-magnifier
                          input.form-control.input-sm(type='text' ng-change='polizas.filter()' ng-model='polizas.filterText' )     
           .mb-sm.clearfix 
       
                     .table-responsive.table-bordered
                        table.table.table-hover.wd-wide
                          thead
                            tr
                              th
                              th Aseguradora  
                              th Poliza
                              th Usd
                              th Cop
                              
                          tbody
                            td.height-lg(colspan="5", ng-show="polizas.loading")
                              p.text-center
                                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
                              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
                            td.height-lg(colspan="5", ng-show="polizas.noData")
                              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
                            tr(ng-repeat="item in polizas.data | orderBy: 'precio'", ng-class="{true: 'active'}[item.check]")
                              td.wd-xxs
                                .checkbox.c-checkbox.m0
                                  label
                                    input(type='checkbox',ng-model='item.check')
                                    span.fa.fa-check
                              td {{ item.aseguradora }}
                              td {{ item.nombre }}
                              td {{ item.precio | number }}
                              td {{ item.precioCop | number }}
                              

                              td.wd-sm
                                .ph.m0.text-muted.visible-inline.pull-right
                    .row
                      .col-lg-12(ng-hide='polizas.paginations.numPages == 1')
                          pagination.m.pagination-sm.pull-right(total-items='polizas.paginations.totalItems',ng-model='polizas.paginations.currentPage',max-size='polizas.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='polizas.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='polizas.paginations.numPages', ng-change='polizas.changePage()', first-text="«", last-text="»")
        
.modal-footer
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="polizas.save()")
    span OK
 