.modal-header.p-sm.pl-lg.pr-lg
  header
    label.col-md-7.control-label.text-primary Clientes
    a.pull-right(type="button", ng-click="clientes.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
            .mb-sm.clearfix 
                    .col-md-3
                        label.control-label Razón Social
                        input.form-control.input-sm(ng-model='clientes.model.razonSocial', ng-maxlength='300')
                    .col-md-3
                        label.control-label Identificación
                        input.form-control.input-sm(ng-model='clientes.model.identificacion', ng-maxlength='300') 
                    .col-md-3
                        label.control-label Email
                        input.form-control.input-sm(ng-model='clientes.model.email', ng-maxlength='300') 
                    .col-md-3
                        label.control-label Teléfono
                        input.form-control.input-sm(ng-model='clientes.model.telefono', ng-maxlength='300') 
             .mb-sm.clearfix 
                    .col-md-3
                         button.btn.btn-sm.btn-primary(type='button',  tooltip='Buscar', ng-click='clientes.getData()')
                            span Buscar                        
                 
            .mb-sm.clearfix 
                        .input-group.m0.col-xs-6.col-sm-3.pull-left
                          span.input-group-addon.input-sm
                            em.icon-magnifier
                          input.form-control.input-sm(type='text' ng-change='clientes.filter()' ng-model='polizas.filterText' )    
            
            .mb-sm.clearfix 
                     .table-responsive.table-bordered
                        table.table.table-hover.wd-wide
                          thead
                            tr
                              th                               
                              th Identificacion
                              th Razón Social
                              th Teléfono
                              th Email
                              
                          tbody
                            td.height-lg(colspan="5", ng-show="clientes.loading")
                              p.text-center
                                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
                              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
                            td.height-lg(colspan="5", ng-show="clientes.noData")
                              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
                            tr(ng-repeat="item in clientes.data | orderBy: 'precio'", ng-class="{true: 'active'}[item.check]")
                              td.wd-xxs
                                button.btn.btn-sm.btn-primary(type='button',  tooltip='Buscar', ng-click='clientes.setClient(item)')
                                    span Seleccionar
                                    
                                  
                              td {{ item.identificacion }}
                              td {{ item.nombre }}
                              td {{ item.telefono }}
                              td {{ item.email }}
                              

                              td.wd-sm
                                .ph.m0.text-muted.visible-inline.pull-right
                    .row
                      .col-lg-12(ng-hide='clientes.paginations.numPages == 1')
                          pagination.m.pagination-sm.pull-right(total-items='clientes.paginations.totalItems',ng-model='clientes.paginations.currentPage',max-size='clientes.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='clientes.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='clientes.paginations.numPages', ng-change='clientes.changePage()', first-text="«", last-text="»")
        


 