.modal-header.p-sm.pl-lg.pr-lg
  header    
   span.text-light.lead COTIZACION {{cotizacion.model.id!=0?cotizacion.model.id:""}}
    a.pull-right(type="button", ng-click="cotizacion.close()")
      span.fa.fa-times.text-danger
    br
.modal-body.clearfix
  tabset.bg-white.p0(justified='true')
     tab
       tab-heading Información
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix   
            .mb-sm.clearfix  
                .col-md-4
                    label.control-label Identificación
                    input.form-control.input-sm(ng-model='cotizacion.model.identificacion', ng-maxlength='80',ng-disabled="!crearCliente")                    
                .col-md-4
                    label.control-label Razon Social
                    input.form-control.input-sm(ng-model='cotizacion.model.tercero', ng-maxlength='80',ng-disabled="!crearCliente")
                .col-md-4
                    label.control-label Móvil
                    input.form-control.input-sm(ng-model='cotizacion.model.movil', ng-maxlength='80',ng-disabled="!crearCliente")               
                                      
             .mb-sm.clearfix             
                .col-md-8
                    label.control-label Dirección
                    input.form-control.input-sm(ng-model='cotizacion.model.direccion', ng-maxlength='80',ng-disabled="!crearCliente") 
                .col-md-4
                    label.control-label Email
                    input.form-control.input-sm(ng-model='cotizacion.model.email', ng-maxlength='300',ng-disabled="!crearCliente")     
                    
             .mb-lg.clearfix
                  button.btn.btn-sm.btn-primary(type='button', tooltip='Buscar', ng-click='cotizacion.buscarCliente()')
                    span Buscar
                  button.btn.btn-sm.btn-default(type='button',  tooltip='Agregar/Editar Cliente', ng-click='cotizacion.agregarCliente()')
                    span +      
                  
             .mb-sm.clearfix             
                .col-md-12
                     label.control-label Observaciones
                     textarea.form-control( ng-model="cotizacion.model.observaciones")                           
             .mb-sm.clearfix             
                .col-md-4
                    label.control-label Intermediario
                    ui-select(ng-model='intermediarios.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Intermediario') {{$select.selected.intermediario}}
                      ui-select-choices(repeat="m in intermediarios.data | propsFilter: {intermediario: $select.search, identificacion: $select.search} | orderBy: ['intermediario', 'identificacion']")
                        div(ng-bind-html='m.intermediario | highlight: $select.search')                        
                        small {{m.identificacion}} 
                .col-md-4
                    label.control-label Tipo Cliente             
                    select.form-control(ng-model="tipoCliente.current", ng-options="item.descripcion for item in tipoCliente.data", ng-selected="tipoCliente.current.value==cotizacion.model.tipoCliente")
                    
                .col-md-4
                    label.control-label Vía-Contacto                
                    select.form-control(ng-model="viasContacto.current", ng-options="item.descripcion for item in viasContacto.data", ng-selected="viasContacto.current.value==cotizacion.model.viaContactoId")  
                        
             .mb-sm.clearfix             
                .col-md-4
                    label.control-label Porcentaje Interés              
                    select.form-control(ng-model="interes.current", ng-options="item.descripcion for item in interes.data", ng-selected="interes.current.value==cotizacion.model.interes")   
                .col-md-4
                    label.control-label Grupo              
                    select.form-control(ng-model="grupos.current", ng-options="item.descripcion for item in grupos.data", ng-selected="grupos.current.value==cotizacion.model.grupoId")          
                 .col-md-4
                    label.control-label Prioridad                
                    select.form-control(ng-model="prioridades.current", ng-options="item.descripcion for item in prioridades.data", ng-selected="prioridades.current.value==cotizacion.model.prioridadId")
             .mb-sm.clearfix 
                .col-md-12
                    label.control-label Universidad
                    ui-select(ng-model='universidades.current', theme='bootstrap')
                      ui-select-match(placeholder='Seleccione Universidad') {{$select.selected.universidad}}
                      ui-select-choices(repeat="m in universidades.data | propsFilter: {universidad: $select.search, identificacion: $select.search} | orderBy: ['universidad', 'ciudad']")
                        div(ng-bind-html='m.universidad | highlight: $select.search')                        
                        small {{m.ciudad}}
     tab
       tab-heading Polizas
       fieldset.mb-sm.pb-sm   
            .mb-sm.clearfix  
            .mb-sm.clearfix 
                    .col-md-3
                        label.control-label Origen
                        select.form-control(ng-model="origenes.current", ng-options="item.descripcion for item in origenes.data", ng-selected="origenes.current.value==cotizacion.model.origen") 
                    .col-md-3
                        label.control-label Tipo Viaje
                        select.form-control(ng-model="tiposViaje.current", ng-options="item.descripcion for item in tiposViaje.data", ng-selected="tiposViaje.current.value==cotizacion.model.tipoViaje") 
                    .col-md-3
                        label.control-label Fecha Inicial
                        input.form-control.input-sm(ng-model='cotizacion.model.fechaInicio', ng-maxlength='300',type='date')   
                    .col-md-3
                        label.control-label Fecha Final
                        input.form-control.input-sm(ng-model='cotizacion.model.fechaFin', ng-maxlength='300',type='date')   
            .mb-sm.clearfix  
                    .col-md-3
                        label.control-label Destino
                        select.form-control(ng-model="destinos.current", ng-options="item.descripcion for item in destinos.data", ng-selected="destinos.current.value==cotizacion.model.destino") 
                    .col-md-1
                        label.control-label Edades
                        input.form-control.input-sm(ng-model='cotizacion.model.e1', ng-maxlength='2')  
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='cotizacion.model.e2', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='cotizacion.model.e3', ng-maxlength='2')
                    .col-md-1   
                        label.control-label 
                        input.form-control.input-sm(ng-model='cotizacion.model.e4', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='cotizacion.model.e5', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='cotizacion.model.e6', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='cotizacion.model.e7', ng-maxlength='2')
                    .col-md-1
                        label.control-label 
                        input.form-control.input-sm(ng-model='cotizacion.model.e8', ng-maxlength='2')
            .mb-sm.clearfix  
                    .col-md-12
                        button.btn.btn-sm.btn-primary(type='button',  tooltip='Buscar', ng-click='cotizacion.buscarPolizas()')
                         span Buscar   {{cotizacion.model.polizas.length}} 
                 
            .mb-sm.clearfix             
                
                .table-responsive.table-bordered(style='overflow-y: scroll; height:200px;')
                          table.table.table-hover.wd-wide
                           thead
                            tr
                             td Poliza
                             td Cantidad
                             td % Descuento
                             td Cop
                             td Total
                             td Usd
                             td Comentario   
                             td                              
                           tbody
                            tr( ng-repeat="p in cotizacion.model.polizas ")
                             td {{p.nombre}} 
                             td {{p.cantidadPasajeros}} 
                             td 
                              input.form-control.input-sm(type="text", ng-model="p.descuento",ng-change="cotizacion.calcularDescuento(p)", ui-number-mask="2", min="0")
                             td {{p.precioCop | number}} 
                             td {{p.precio | number}}  
                             td {{p.precioOriginal | number}} 
                             td
                              input.form-control.input-sm(type="text", ng-model="p.comentario")
                             td                              
                              em.icon-trash.mr.text-danger(tooltip='Eliminar', tooltip-placement='bottom', ng-click='cotizacion.deletePoliza(p)') 
           
     tab
       tab-heading Condiciones
       fieldset.mb-sm.pb-sm 
        .mb-sm.clearfix   
          .col-md-4
                label.control-label Moneda                
                select.form-control(ng-model="monedas.current", ng-options="item.descripcion for item in monedas.data", ng-selected="moneda.current.value==cotizacion.model.monedaId") 
              .col-md-4
                label.control-label Forma Pago                
                select.form-control(ng-model="formasPago.current", ng-options="item.descripcion for item in formasPago.data", ng-selected="formasPago.current.value==cotizacion.model.formaPagoId")                 
              .col-md-4
                label.control-label Vencimiento                
                input.form-control.input-sm(ng-model='cotizacion.model.fechaVencimiento', ng-maxlength='300',type='datetime-local')  
        
.modal-footer
  
  
  button.btn.btn-sm.btn-default(type='button',  tooltip='Adjuntos', ng-click='cotizacion.uploadFile()',ng-show="false")
    span ADJUNTOS
  button.btn.btn-sm.btn-default(type='button',  tooltip='Agendas', ng-click='cotizacion.agenda()',ng-show="btnAnular")
    span AGENDAS                
  button.btn.btn-sm.btn-default(type='button',  tooltip='Seguimiento', ng-click='cotizacion.seguimiento()',ng-show="false")
    span ...      
  button.btn.btn-sm.btn-warning(type='button',  tooltip='Seguimiento', ng-click='cotizacion.verSeguimientoHistorico()',ng-show="false")
    span H 
  button.btn.btn-warning(type="button", tooltip="Generar Pedido", ng-click="cotizacion.generarPedido()",ng-show="btnAnular")
    span PEDIDO
  button.btn.btn-danger(type="button", tooltip="Anular", ng-click="cotizacion.anular()",ng-show="btnAnular")
    span ANULAR
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="cotizacion.enviarCotizacion()",ng-show="btnEnviarCotizacion")
    span ENVIAR
  button.btn.btn-primary(type="button", tooltip="Guardar", ng-click="cotizacion.save()",ng-show="btnModificar")
    span GUARDAR
